[2014-07-26 15:51] Sbgodin opened #1 "Drop CookieDomain branch"
What about dropping _CookieDomain_ branch? `git diff sebsauvage/master...sebsauvage/CookieDomain` tells me that it's only about adding an _error_reporting_ and setting up the _timezone_. It's already done, slightly differently, in the _master_ branch.

Let's say I do this with at least 50% of yes...

[2014-07-27 21:34] e2jk opened #4 "Question: Change versioning schema?"
The current versioning scheme is:
- an increasing integer (at the moment 41)
- prepended by "0.0"
- appended by "beta" (lower case, with space when displayed, without space in the release zipfiles' filenames)

The latest version is currently "0.0.41 beta".

In an email discussion with @sebsauvage in 2011 (actual version then was 0.0.30beta), when I asked if the version number might get changed in

[2014-07-27 21:34] e2jk opened #5 "Use Github's tagged versions to detect if new version is available"
Up until v0.0.42beta, the function checkUpdate got it's latest version from @sebsauvage's website:
http://sebsauvage.net/files/shaarli_version.txt

Now that tagged versions will be available in GitHub (after #3 is merged and v0.0.42beta is released), the availability of a new version should be checked from https://github.com/shaarli/Shaarli/releases directly, which avoids having to update the vers

[2014-07-27 22:00] e2jk opened #6 "Discover back Shaarli's past history"
Before Shaarli was published on Github, development was done primarily by @sebsauvage, with from time to time a patch sent by somebody else by email. Seb started using git in 2013, starting with version 0.0.40 beta.

I used to maintain a [Bazaar repository](https://code.launchpad.net/~emilien-klein/shaarli/main) containing one commit for each released version dating back from 0.0.7 beta (the first

[2014-07-28 16:18] #1 closed, assigned to Sbgodin

[2014-07-28 16:52] #6 closed, assigned to nobody

[2014-07-30 06:22] e2jk opened #7 "Concerns about the licensing of the qr.js library"
As I've reported upstream on https://github.com/neocotic/qr.js/issues/23 I am not sure that the qr.js license is valid.

qr.js is licensed under the MIT license.
The license section at the top of the qr.js file mentions that qr.js is based on jsqrencode, which is GPL-licensed.
Part of the GPL license is that derivatives must be licensed under the same license.

I have asked upstream if they have r

[2014-07-30 06:24] e2jk opened #8 "Invalid syntax in javascript function showQrCode"
When going to the index page, I see the following in the Console:
`Uncaught SyntaxError: Unexpected token = localhost/:115`

Line 115 is the following:

[code]

I assume the goal is to pass "false" to the loading parameter, that is valid Python syntax but not JavaScript.

This results in the JavaScript QR code not to be run, but instead the QR code from http://qrfree.kaywa.com/ to be opened.

I ha

[2014-07-30 09:36] Sbgodin opened #9 "New branch 'dev' for developpement"
Hi all!

I integrated my patch _titleLink_ in a new branch _dev_. I suggest that we make all developments in the branch _dev_. The stable would remain in _master_. Before releasing a new stable, we may discuss/vote before merging to _master_ and then tag the new release.

Please let me now if all this fits to you.

[2014-07-31 14:47] nodiscc opened #10 "Add credits for icons"
Copied from https://github.com/sebsauvage/Shaarli/issues/8

License and copyright information is missing for most icons. This may render the package unsuitable for upload in debian :/ (https://www.debian.org/doc/debian-policy/ch-archive.html)

@respencer started gathering some info but it may be easier to replace all icons altogether.

[2014-08-03 18:54] nodiscc opened #14 "Plugin system"
**update: See https://github.com/shaarli/Shaarli/wiki/Ideas-for-plugins**

Hey, I did a roundup of issues on https://github.com/sebsauvage/Shaarli/issues and tried to list requests/bugs that would fit as plugins. Then see what we have:

### Add/remove page elements
* ~~https://github.com/sebsauvage/Shaarli/issues/51: Make timestamps optional~~ **implemented**
* ~~https://github.com/sebsauvage/Shaa

[2014-08-03 18:58] nodiscc opened #15 "Multi user shaarli"
- https://github.com/sebsauvage/Shaarli/issues/98: (Attempt at a multi-user setup)
- https://github.com/sebsauvage/Shaarli/issues/107: Shaarli Multi Utilisateurs

**Note:** work started in https://github.com/shaarli/Shaarli/pull/11 to have configurable `data/`, `tmp/`, `tpl/`.... paths. Going further, we could _(for shaarlis that have optional multiuser enabled)_, have https://my.shaarli.url/u/geo

[2014-08-03 19:10] nodiscc opened #16 "API / programmable access"
- ~~https://github.com/sebsauvage/Shaarli/issues/58: Page storage~~ -> **external tool, https://github.com/nodiscc/shaarchiver is WIP**
- ~~https://github.com/sebsauvage/Shaarli/issues/57: Export features~~ **closed/ghost**
- ~~https://github.com/sebsauvage/Shaarli/issues/66: readityourself~~ **implemented in https://github.com/shaarli/Shaarli/pull/52**
- ~~https://github.com/sebsauvage/Shaarli/is

[2014-08-03 19:12] nodiscc opened #17 "Port/server config problems"
Here is a summary of problems related to specific server/network configs:

* ~~https://github.com/sebsauvage/Shaarli/issues/101: RSS feed has an incorrect url _-- waiting for info_~~  **fixed**
* ~~https://github.com/sebsauvage/Shaarli/issues/108: next and the previous day of my shaarli dont work _-- waiting for info_~~  **no reply, closed**
* https://github.com/sebsauvage/Shaarli/issues/110: ~~Lo

[2014-08-03 19:13] #9 closed, assigned to Sbgodin

[2014-08-10 13:49] #15 closed, assigned to nobody

[2014-08-10 16:38] nodiscc opened #18 "bookmarklet: pre-fill description field using selected text"
Should the bookmarklet pre-fill the description field in the "Add link" dialog with the selected text?

There are 2 related commits in this pull request https://github.com/sebsauvage/Shaarli/pull/104:

https://github.com/romnGit/Shaarli/commit/66a386d5bd9655b0b92adeea8f0233650106b2c9
https://github.com/romnGit/Shaarli/commit/ee3fafa68d0c7725c93bd8c51798b0b94461e690

Should we add this feature?

[2014-08-19 19:52] #18 closed, assigned to nobody

[2014-08-19 21:07] jeekajoo opened #21 "Provide an option to disable rss publication for a shaarlink while adding it"
Hi,

Shaarli is very convenient to store bookmarks for our personal use, but it is also more and more used as a µblogging tool.
Do you think it would be possible to add a tick box in "addlink" page to disable the publication of a shaarlink that we don't want our atom/rss "followers" to bother with?

Thanks
J.

[2014-08-20 00:46] #21 closed, assigned to nobody

[2014-08-30 19:12] #10 closed, assigned to nodiscc

[2014-09-01 08:47] qwertygc opened #22 "Add themes management"
Hello !
It's possible to add a themes managment e.g a folder by theme ? And a variable show the theme.
A other suggestion it's the possibility to translate shaarli.
Regards

[2014-09-04 22:45] #7 closed, assigned to nobody

[2014-09-09 15:22] nodiscc opened #24 "There should be only one "Subscribe" button"
Followup to https://github.com/sebsauvage/Shaarli/issues/28:

Should we remove one of these buttons or make it optional? The concern is valid IMHO

[2014-10-15 21:31] nodiscc opened #26 "Display timestamps on daily page"
Followup to https://github.com/sebsauvage/Shaarli/issues/203

We should display timestamps on the daily page, for consistency (and because they are useful). This should obviously respect the `HIDE_TIMESTAMPS` setting.

[2014-10-19 19:42] virtualtam opened #29 "Remove hardcoded CSS from html templates"
Some style info is hardcoded in the RainTPL templates, which:
- adds some undesired, duplicate style information to the generated pages
- reduces the theming possibilities for those elements (daily, picture wall, tag list...)

Why not just declare the style in, well, the stylesheet? ;-)

[code]

[2014-10-22 12:12] Marsup opened #32 "Migrating from official to fork ?"
Hi,

That's probably obvious like keep the `data` folder and replace everything else, but is there any guidance out there to go from sebsauvage to this fork ?

Thanks.

[2014-10-22 17:54] nodiscc opened #33 "remove inline javascript"
It would be great to move inline javascript (for example https://github.com/shaarli/Shaarli/blob/master/tpl/linklist.html#L70 ) to their own .js files. Inline javascript _does not run_ when the server has strict [Content Security Policy (CSP)](http://content-security-policy.com/) settings (good practice).

Firefox console returns:

Eg. for apache2 `Header set Content-Security-Policy "script-src 's

[2014-10-22 18:18] nodiscc opened #34 "Make update check optional"
https://github.com/shaarli/Shaarli/issues/5#issuecomment-50355925:

We can already add a  `ENABLE_UPDATECHECK` config option and [`checkUpdate()`](https://github.com/shaarli/Shaarli/blob/master/index.php#L128) should only run if set to 1. What should be the default value?

Is this ok?

[2014-10-23 18:05] #24 closed, assigned to nodiscc

[2014-10-23 18:13] #32 closed, assigned to nobody

[2014-11-02 14:39] qwertygc opened #38 "Proposition: lier avec web archive"
Hello !
J'ai fait 2 modif pour avoir une version "web archivé" d'un lien : https://github.com/qwertygc/Shaarli/commit/dd8b4cb0af6b428cc89a81ee4ff36068e769efa5
https://github.com/qwertygc/Shaarli/commit/da5f2510540a76c3185a8b7238588ea1065fcc8f
Si ça intéresse des gens.

[2014-11-05 13:07] nodiscc opened #40 "Require write permissions only for relevant directories"
It is recommended to not give write access to all files to the webserver process (see https://wiki.debian.org/Apache/Hardening#File_permissions). The dirs for which write permissions are required are `cache`, `data`, `pagecache` and `tmp`, so we should only check these.

This allows to install shaarli with user/group `someuser:www-data` and permissions `640` (`750` for dirs), except for these read

[2014-11-05 13:14] nodiscc opened #41 "Move all configuration settings to data/config.php"
~~Once https://github.com/shaarli/Shaarli/issues/40 is solved we can think about moving options.php out of data/. It is _not_ program data and should not be writeable by the server.~~

~~We can also provide a options.example.php presenting all switches from https://github.com/shaarli/Shaarli/blob/master/index.php and https://github.com/shaarli/Shaarli/wiki#configuration and have evrything in one p

[2014-11-05 13:54] #38 closed, assigned to nobody

[2014-11-05 14:01] nodiscc opened #44 "[archived] General discussion"
General discussion about Shaarli, this fork, sharing interesting resources, whatever. Offtopic allowed.

https://github.com/shaarli/Shaarli/wiki

[2014-11-08 13:53] nodiscc opened #46 "Handle storage of javascript: URIs"
Copied from https://github.com/sebsauvage/Shaarli/issues/174

At https://github.com/shaarli/Shaarli/blob/master/index.php#L1479, add `&& !startsWith($url,'javascript:')`

That keeps the bookmarklet link functional and dragable "as is" to the browser's bookmarks bar.

[2014-11-08 13:58] nodiscc opened #47 "?do=addlink when logged out should redirect to login page"
Copied from https://github.com/sebsauvage/Shaarli/issues/141

This is confusing. It should redirect to the login page.

[2014-11-08 14:06] nodiscc opened #48 "Tag cloud links do not escape the & character"
https://github.com/sebsauvage/Shaarli/issues/85

[2014-11-08 14:22] nodiscc opened #49 "Autocompletion in the 'search by tag' field?"
Reported at https://github.com/sebsauvage/Shaarli/pull/104. The 'search by tag' field has no autocompletion feature (the 'tags' field in the "Edit link" dialog still has it)

The proposed fix doesn't merge anymore (it relies on an old Shaarli version that still had jQuery on the main page). We may not want to re-add jQuery so another solution would be welcome.

Is this really wanted, or should we

[2014-11-08 14:37] nodiscc opened #50 "don't add same tag twice in the searchtags list"
This was reported at https://github.com/sebsauvage/Shaarli/issues/140

[2014-11-09 19:19] nodiscc opened #53 "'span class="linkurl"' URLs should be clickable"
Reported at https://github.com/sebsauvage/Shaarli/issues/142

The `class=linkurl` elements (URLs in blue/green under the link title) should be clickable.

[2014-11-09 21:24] nodiscc opened #55 "Make RSS "permalink" mode available through an option"
I just discovered adding the `permalink` parameter to the RSS feed URL switches the main URL for feed items between full URL (the address the link points to) and permalink (short URL that points to the shaarli item.

index.html, line 891:
[code]

Check the difference between https://telecom.dmz.se/links/?do=rss and https://telecom.dmz.se/links/?do=rss&permalinks

I think this should be toggleable

[2014-11-09 21:42] nodiscc opened #56 "permalinks should start with a letter"
Reported at https://github.com/sebsauvage/Shaarli/issues/131, https://github.com/sebsauvage/Shaarli/issues/190.
- Permalinks beginning with `-` cause 500 errors on some servers.
- Moreover, permalinks are used in `name` and `id` HTML attributes for each link (eg.`<a name="GkE3WQ" id="GkE3WQ"></a>`) and are invalid values there. http://www.w3.org/TR/html4/types.html#h-6.2:

#### Solution?

We could

[2014-11-10 13:55] nodiscc opened #57 "Move QR code as a plugin"
The QR code should be optional (as well as archive.org and readityourself integration), even if it's enabled by default (should it?).

Once https://github.com/shaarli/Shaarli/issues/52 is tested and merged, we can use the plugin system to move the QR code to `tpl/plugins/qrcode/`. This plugin will require 2 parts:

 * The HTML elment `<div style="position:relative;display:inline;"><a href="http://

[2014-11-10 21:16] #48 closed, assigned to nodiscc

[2014-11-11 09:42] qwertygc opened #58 "file sharing/upload service integration"
Hi ! It's possible to add a field for upload a file (e.g a PDF) ?
I have a little snippet :
[code]

[2014-11-21 17:27] #50 closed, assigned to nobody

[2014-11-21 17:42] #47 closed, assigned to nobody

[2014-11-21 20:16] #53 closed, assigned to nodiscc

[2014-12-01 16:43] #16 closed, assigned to nobody

[2014-12-01 23:33] nodiscc opened #64 "Make Shaarli W3C compliant"
Originally reported at https://github.com/sebsauvage/Shaarli/issues/192

http://validator.w3.org/ reports 141 errors and 34 warnings on my Shaarli.

[2014-12-02 01:03] #5 closed, assigned to Sbgodin

[2014-12-02 20:20] virtualtam opened #65 "Daily page: possible column loop factorization"
The daily page displays each day's links over 3 columns; within [tpl/daily.html](https://github.com/shaarli/Shaarli/blob/fdd8fb2be2c45bd810a2d8b55c1f2cbf7f655fe3/tpl/daily.html), the code generating a column is triplicated, the only difference being the column's ID:

[code]

[2014-12-02 21:27] virtualtam opened #66 "Install form: invalid HTML generated for timezone options"
To reproduce:
- rename or delete your **data** folder,
- access to Shaarli's home page,
- look at the webpage's source (Ctrl+U on most browsers).

Here's the sample code generated by `templateTZform()`:

[code]

More specifically, there is one whitespace missing between the `value="<value>"` and `selected` attributes:

[code]

and

[code]

[2014-12-03 16:18] #66 closed, assigned to nobody

[2014-12-05 13:42] alexxtasi opened #70 "Comma separated tags"
Hi there
Shaarli is a great work thanks for that!

Just a suggestion
Why not making the tags comma-separated, so anyone can use tags with more than one word ?
I think it will be more convenient.

regards

[2014-12-05 16:56] #29 closed, assigned to nobody

[2014-12-08 10:37] #70 closed, assigned to nobody

[2014-12-08 13:20] virtualtam opened #71 "Add Unit Tests to improve stability and avoid code regressions"
The core of Shaarli is a big chunk of PHP: `index.php`.
It contains *all* the methods, which doesn't make editing and debugging convenient (lack of modularity). A good way to avoid bugs and regressions would be to implement unit testing, starting with sensitive features:
* data storage (read/write),
* authentication,
* import / export.

This could be done with a unit test framework like [PHPUnit](

[2014-12-10 07:55] ParoTheParrot opened #73 "Sort the link list alphabetically"
How is it possible to adjust the sorting? I would like to sort alphabetical instead of according to the modification date.
See: https://github.com/sebsauvage/Shaarli/issues/210

[2014-12-10 17:32] palytsh opened #75 "Search is casesensitive"
Hello!
Now search in title and description works as casesensitive, when its contents is in russian.
For me replacing strtolower($string) by mb_convert_case($string, MB_CASE_LOWER, 'UTF-8') works well.
It would be fine if it was implemented.

How to reproduce
1. Make bookmark (url does not matter):
      url: https://github.com/shaarli/Shaarli/wiki
      title: ТестШаарли
      desc: ТестШаарли
2.

[2014-12-15 18:44] Nicals opened #78 "Information disclosure on error messages"
[Continuation of discussion started on unmaintained repository.](https://github.com/sebsauvage/Shaarli/issues/214)

As said in the issue above: Shaarli have a problem with its error logging process. It discloses too much information:
- [Full path disclosure here](https://github.com/shaarli/Shaarli/blob/master/index.php#L92)
- [PHP version leak](https://github.com/shaarli/Shaarli/blob/master/index.

[2014-12-15 19:12] Nicals opened #79 "serverUrl fails on non-standard port"
On non standard port, the server url is

[code]

Despite the example given, the [actual way](https://github.com/shaarli/Shaarli/blob/master/index.php#L444) can't handle such requests. A request from http://localhost:8000 will return a server url as http://localhost:8000:8000 resulting on a browser error since the *Location* header is incorrect.

[2014-12-16 18:24] b4n opened #80 "Do not lose POST data when token expires ("Wrong token")"
*(imported from sebsauvage#215 -- I did not explicitly test this with this fork but I was both told it wasn't fixed and checking the log supports this)*

I just tried to post a link with a lengthy description, and it took me some time to write it, plus I did a few other things in-between.  When I wanted to save the link, I got a "Wrong token" error.  Fair enough, but all my data was lost!

So, ple

[2014-12-16 18:26] #78 closed, assigned to nobody

[2014-12-19 10:43] #56 closed, assigned to nodiscc

[2014-12-19 10:45] #8 closed, assigned to nobody

[2014-12-24 14:23] pikzen opened #84 "Shaarli sends an absurdly high amount of shaarli_staySignedIn cookies"
Note: this issue only exists when not logged in. The `shaarli_staySignedIn` cookie isn't even sent when logged in, which makes me think it's only sustaining through the session, but that's another issue.

On my local Shaarli installation with 12 links, Shaarli sends back a Set-Cookie header consisting of 20 times `shaarli_staySignedIn`, with the value as `deleted` and the expiration at timestamp 0

[2014-12-25 00:21] #75 closed, assigned to nobody

[2014-12-29 20:35] e2jk opened #87 "404 error after deleting a link from it's own page"
**How to reproduce:**

* Go to a link's own page (permalink)
* Delete the link
* You are returned to same page, but this time with a 404 error (as the link doesn't exist anymore)

**Suggested fix:**
If the url to be returned to is going to be a permalink, redirect instead to the home page.

[2015-01-01 14:32] pikzen commented on #87
The easiest (and most logical) fix would be redirecting to / once the link has been deleted.

However, the current case handles passing around a redirect url to a ?do=<anything> page. Aside from being almost never used (Deleting a link from another page on another website ?), HTTP_REFERER is set differently on each browser and is almost always set to the previous page.
Opinions on removing all thi

[2015-01-01 23:36] alexxtasi opened #88 "empty page when clicking on a tag (tag cloud)"
Hi all
I had shaarli 0.0.41 installed and was everything alright
I upgraded to version 0.0.42, but then I see an empty page whenever I click Tag Cloud > some_tag (and not the list of the links with the specific tag!)

I used both suggested upgrade methods (copy-pasting ```datastore.php``` file and also import-exporting .html file from the older to the newest version of Shaarli)

any suggestions on

[2015-01-02 00:14] e2jk commented on #88
Is there anything specific logged in the `log.txt`file, or in the access or error logs of your web server?

[2015-01-02 00:34] nodiscc commented on #88
@alexxtasi what page URL is displayed after clicking on `some_tag`?

[2015-01-02 00:50] e2jk commented on #87
I think it is OK to just redirect to Shaarli's home page.
This would only be an issue when you want to delete multiple links from e.g. a search, but (1) how often does this use case happen and (2) you could click twice on the back button and you would be back to the page from which you clicked the delete button.

[2015-01-02 01:20] alexxtasi commented on #88
@e2jk nothing spesific... just ```2015/01/02_03:18:50 - ip - successful```

@nodiscc its ```http://server_ip/links/?searchtags=electronics``` for example...
and as far I understand its correct (I have another instance of shaarli version 0.0.41 with the same .html file imported and the link ```http://127.0.0.1/shaarli/?searchtags=electronics``` works fine)

do I miss something ?

[2015-01-02 01:29] e2jk commented on #88
Is there actual content on the page (albeit possibly invisible), or is there no content sent back from the webserver? Can you look at the page's source (usually Ctrl + U), or opening the web developer tools (usually pressing F12) and looking at the request and response?

[2015-01-02 01:43] alexxtasi commented on #88
Not sure of what it is (newbie here) but in the web dev tools and in Network tab I see ```500 Internal Server Error``` in the GET method.

does this help ?

[2015-01-02 02:03] nodiscc commented on #88
@alexxtasi your server sends a `500` error on `http://83.212.100.244/links/?searchtags=tag-name-here`. Details should be logged in your server's `error.log`. Is there something relevant there? Do you have `mod_rewrite` or equivalent enabled or a special server config trick? If there is nothing informative in the error log, you can try to increase PHP `error_reporting` level `in php.ini`

[2015-01-02 13:30] alexxtasi commented on #88
apache's access log shows:
[code]
while error log shows:
[code]
I see that ```mb_convert_case()``` is not present in version 0.0.41 am I right ? Is this the problem on my server?

[2015-01-02 13:36] alexxtasi commented on #88
well I installed ```php-mbstring```, and restarted apache.
Only the first error
[code]
remains in the error log.
But the link's list based on tags is displayed nicely... so I think this is ok isn't it ?

[2015-01-02 15:31] pikzen commented on #88
Ah, this has been introduced by patch #82, I wasn't aware that PHP had an mbstring module. This should probably be noted in the wiki and README.

As far as the Notice goes, there are probably a hundred of those all around the code if you enable every error_reporting. You'll be fine, it's no problem. Going to do a huge pass with linting, code fixing etc. soon that should remove every notice. Spammi

[2015-01-02 17:36] nodiscc commented on #88
@alexxtasi I see you're running CentOS (by the way you may want to hide some info your server sends, search for the `ServerTokens` apache setting), mind that installing `php-mbstring` seems to be RH/CentOS specific. There is no such package in Debian-based distros (https://packages.debian.org/search?keywords=mbstring) because mbstring support is compiled in the base [libapache2-mod-php5](https://p

[2015-01-02 17:36] #88 closed

[2015-01-02 17:41] alexxtasi commented on #88
indeed I am using CentOS and I was installed with ```yum install php-mbstring```
thanks for your help!

[2015-01-02 23:07] nicolasdanelon opened #89 "Update footer"
What if we add a changelog file like [this one](https://github.com/GNOME/geary/blob/master/debian/changelog) here in the repo?

And a new link in the footer with the subversion date or number like this:

[Shaarli 0.0.41 beta](http://sebsauvage.net/wiki/doku.php?id=php:shaarli) - The personal, minimalist, super-fast, no-database delicious clone. By [sebsauvage.net](http://sebsauvage.net/). Theme by

[2015-01-03 00:10] nodiscc commented on #89
The next footer should be:

[https://github.com/shaarli/Shaarli](Shaarli) -- The personal, minimalist, super-fast, no-database delicious clone. By [sebsauvage](http://sebsauvage.net/) and [contributors](https://github.com/shaarli/Shaarli/blob/master/COPYING).

(We should not display the version number to visitors, bur rather only display it in `?do=tools`.)

Yes we should definitely add a word abo

[2015-01-04 20:22] e2jk commented on #87
I've created pull request #90 that redirects to ? (the default when `returnurl`or `HTTP_REFERER` were empty). Please review, test and merge.

[2015-01-05 19:13] nodiscc commented on #87
Fixed in #90

[2015-01-05 19:13] #87 closed

[2015-01-07 19:15] nicolasdanelon commented on #89
what do you think @nodiscc ?

[2015-01-08 00:11] nodiscc commented on #89
I think it's a bug and should be fixed before releasing 0.9beta

[2015-01-08 09:49] s1dh opened #92 "Change tag suggestions behavior?"
In my workflow I open a new browser window per subject of interest and I open as many tabs as needed during my searching session. The result is I often end this search session with dozen of interesting links I would like to bookmark . As all links could be tagged with almost the same 'keywords' , it would be great to press e.g. the down arrow in the tags field and have a scroll down list of the X

[2015-01-09 01:50] nodiscc commented on #92
Down arrow does nothing currently, yes it could suggest most recent tags (store them in a cookie? ... ?)

As a workaround, when bookmarking a batch of pages, you can CTRL+C your first tags, and paste them in the next link tags. Is this solution ok for now?

[2015-01-09 01:55] #65 closed

[2015-01-09 01:56] nodiscc commented on #92
Related https://github.com/shaarli/Shaarli/issues/49

[2015-01-09 02:12] nodiscc opened #94 "Do not use SHA-1 password hashing"
As said on Debian mailing lists:

[2015-01-09 02:27] nodiscc opened #95 "Fix coding style (static analysis)"
A pass of an automatic coding style fixer may be needed to make shaarli more maintainable.
This will help find and trim down unnecessary complexity/broken code.

[2015-01-09 02:36] nodiscc opened #96 "Libraries in inc/ are not versioned/up-to-date/have no copyright"
Files in https://github.com/shaarli/Shaarli/tree/master/inc have no copyright/author notice in https://github.com/shaarli/Shaarli/blob/master/COPYING.

This violates the GPL for qr.min.js.

They have no version numbers in their filenames, and should be updated. We may provide the unminified source for jquery/qr/jquery-ui/lazyload in the archive.

[2015-01-09 03:29] nodiscc opened #97 "Possible open redirect vulnerability"
https://github.com/sebsauvage/Shaarli/blob/master/index.php#L439
redirection target is based on the user submitted `post`
https://www.owasp.org/index.php/Open_redirect

[2015-01-09 08:49] pikzen commented on #94
Had we a huge database of passwords that may be leaked and then automatically cracked, I'd say yes.
However, Shaarli stores a single user/pass/salt tuple. bcrypt's main interest is that it slows down bruteforce attempts, and is particularly effective when you want to prevent a massive cracking attempt. Swapping to bcrypt would probably increase the duration of an attack by a factor of 100. Which i

[2015-01-09 08:52] pikzen commented on #92
Generating a list of suggestions would be as easy as outputting a javascript object and using it to suggest data. That requires changing how the <input>s currently in use work.

[2015-01-09 10:37] ArthurHoaro commented on #17
I found this issue after switching PHP builtin server to port 8080 and see this:

![snapshot2](https://cloud.githubusercontent.com/assets/1962678/5677846/f6a50a68-97eb-11e4-9603-106ec95d8597.png)

As [this guy said](http://stackoverflow.com/a/2297421), relying on `SERVER_NAME` instead of `HTTP_HOST` is better. That's partially what sebsauvage#165 did, and it solves my issue.

Then I took the time

[2015-01-09 15:57] pikzen commented on #96
Fix proposed in #99

[2015-01-11 18:52] nodiscc commented on #92
I think adding this is a very small improvement/hack over the previous code.

If we're going to change how suggestions work, i would suggest basing them on [frecency](https://en.wikipedia.org/wiki/Frecency) instead - as I said CTRL+C/CTRL+V works in @s1dh case.

The suggestions should take into account:
 * what is currently being typed in the field
 * most used tags
 * most recent tags
 * (optiona

[2015-01-11 19:57] s1dh commented on #92
Frequency would not reflect a sequence if I understand correctly what you mean. It would just create an artificial (out of context) sequence of tag based on most popular tags.

Of course ctrl+c/v works but it's not handy, cycling through the X last tag sequence with (e.g.) down arrow key would be simpler imo !

why not let the user choose with  a history/frequency/other mode configuration paramete

[2015-01-15 19:01] qwertygc opened #101 "Mozilla Social API integration"
Mozilla à sorti Social API (https://developer.mozilla.org/fr/docs/Social_API). Pourquoi pas faire un plugin pour shaarli ?

[2015-01-15 21:16] nodiscc commented on #101
Avec quelles fonctionalités? Un bouton share? (shaarli a déjà un bookmarklet) Une sidebar shaarli? J'ai un peu testé les démos et je vois mal ce que ça apporte pour l'instant. Si quelqu'un peut m'éclairer...

[2015-01-15 21:21] nodiscc commented on #64
I added checkboxes to each compliance item in the list, feel free to check them if they are resolved. @ArthurHoaro did fix some of them in https://github.com/shaarli/Shaarli/commit/fe16b01edb80ac2f2212125fadba8358dff91b95 https://github.com/shaarli/Shaarli/commit/8079dfd1cdec41a0bb3ee7ec2b974e8e64376d83.

[2015-01-15 22:16] virtualtam commented on #64
Thanks for your work @ArthurHoaro, I'll take some time this weekend to take a look at the latest additions :-)

[2015-01-16 09:39] qwertygc commented on #101
En gros, c'est comme le bouton share, mais tout est regroupé au sein d'un seul bouton, on gagne de la place ^^

[2015-01-18 21:57] virtualtam commented on #64
Hi, here are the last remaining issues ;-)

still present when using a custom CSS: `touch inc/user.css` should make it appear in the validator:
[code]

QRcode images are missing the `alt="Some alternative name"` attribute; maybe `alt` could be used instead of `title` (see http://www.w3.org/wiki/HTML/Elements/img)?

[code]

[2015-01-19 00:56] dper commented on #64
The `alt` and `title` tags are not the same.  The former is displayed when the image doesn't or can't load.  The latter shows up on mouseovers.  If you don't know what to use as an `alt` value, a reasonable idea is the name of the image file itself.

[2015-01-19 10:43] virtualtam commented on #64
@dper hence the link to the W3 documentation.

The point here is that QRcode images are missing an `alt` attribute, and may not necessarily need to have `title="QR-Code"` defined (it doesn't bring anything, semantically speaking).

An alternative could be to provide all QR images with meaningful values of `alt` and `title`, e.g.
[code]

[2015-01-19 12:17] dper commented on #64
@virtualtam Yes. That's why I offered a suggestion of something that already exists and is meaningful. :-)  You can make the `alt` tag be the file name, if you don't have a better option, and it's informative to a certain degree.

I agree that the `title` tag is probably not needed.  Having hover text of `QR-code` on a QR code is not very pointful.  People looking at the image will probably notice

[2015-01-19 16:44] nodiscc commented on #101
I have read a bit about Firefox's Social API. Existing services are listed here: https://activations.cdn.mozilla.net/en-US/
I has the benefit of grouping all social media accounts under one toolbar button and/or sidebar.
However, the implementation seems complex (https://developer.mozilla.org/en-US/docs/tag/Social; https://github.com/mixedpuppy/socialapi-demo -what?) and it's not cross-browser. So

[2015-01-19 17:01] nodiscc commented on #44
I am forwarding a discussion from Debian's security mailing list.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

So far:

 * I wasn't able to find a way to exploit the redirect based on user POST.
 * Pear/PECL/composer is not an option because Shaarli must remain installable on servers without SSH access (shared hosting)
 * https://github.com/shaarli/Shaarli/pull/

[2015-01-19 19:04] nodiscc opened #102 "Unable to import all Shaarli bookmarks in Firefox"
Firefox (Iceweasel) 34. Importing bookmarks using `Bookmark manager -> Import from HTML` does not import _all_ bookmarks but only a partial set. My bookmarks file has links and self-posts (notes), public and private. Firefox error console returns:

[code]

[2015-01-21 10:19] pikzen commented on #102
Could you post the .html file you're trying to import ? I'd like to test it on firefox 35.0. From what I'm seeing, this looks like a bug in Firefox (`this._previousFrame is undefined` points to an internal variable from Firefox's parser and apparently not the bookmark file, but this might be caused by a malformed bookmark export.). I have tried importing a small bookmark file (4 links) without any

[2015-01-26 12:40] #64 closed

[2015-01-26 12:40] #26 closed

[2015-01-26 12:41] #96 closed

[2015-01-26 20:46] nodiscc opened #104 "Inconsistencies in COPYING"
https://github.com/shaarli/Shaarli/blob/master/COPYING

We still have a GPLv3 header at the end of the file. AFAIK there's no GPL code in Shaarli anymore (qr.js is now licensed under MIT). Right? If so, we should remove it.

There's no copy of the Creative Commonts Attribution (CC-BY) license in COPYING.

[2015-01-27 00:13] nodiscc opened #105 "Mention origins of the fork in the README"
I wish we had an explanation of what this repo is and what purpose it serves in the README. It should be put simply at the beginning of the file, right under the description. It would help unconfuse users forwarded from the original repo. Suggested text:

The screenshots should also be updated.

[2015-01-27 00:27] nodiscc opened #106 "Original Ideas/Fixme page"
I found this list at http://sebsauvage.net/wiki/doku.php?id=php:shaarli:ideas

It's a collection of the ideas proposed by sebsauvage and contributors back when the project was hosted on sebsauvage.net. Some are interesting, some are fixed already, and some are probably `wontfix` :) I'm pasting it here as a reference; feel free to comment/propose decisions for each item. If a particular item needs

[2015-01-27 11:17] pikzen commented on #104
Actually, according to https://github.com/neocotic/qr.js/blob/master/LICENSE.md, qr.js is under the GPLv3, which is confirmed by http://neocotic.com/qr.js/changes.

Pushed a PR to fix it.

[2015-01-27 12:00] e2jk commented on #104
Correct, qr.js was incorrectly relicensed to MIT, it got fixed last summer:
https://github.com/neocotic/qr.js/issues/23

[2015-01-27 12:22] #104 closed

[2015-01-29 19:20] nodiscc commented on #79
@Nicals Can you recheck agains the latest `master`? https://github.com/shaarli/Shaarli/pull/98 has been merged and should fix this. Thanks

[2015-01-29 19:23] nodiscc commented on #17
Thanks for investigatin the problem @ArthurHoaro, your PR seems to fix all reverse proxy problems. I'm glad to see all listed issues are closed; I'll now close this tracker bug. I'm still waiting for info on https://github.com/shaarli/Shaarli/issues/79.

Thanks again!

[2015-01-29 19:23] #17 closed

[2015-01-31 01:40] nodiscc commented on #102
Not reproducible anymore on the current `master`. Maybe I was on a dev branch when this happened.

[2015-02-04 13:55] nodiscc commented on #102
Reopening because I still get an error when importing bookmarks using an export from a Shaarli on the current `master` branch. All bookmarks are not imported, only a partial set.

[code]

To investigate where the import started to fail, I imported all my public bookmarks (only links), which went well. I then tried to import my private bookmarks, which contain self-posts (Notes not liked to an URL)

[2015-02-14 00:14] nodiscc commented on #87
@e2jk I frequently hit  this bug:

It's very annoying when you are trying to cleanup links with a certain tag. I think if either `$searchtags` or `$searchterm` are defined, we should add these params to the next request (so you would be redirected to the previous serach. Hitting back twice is confusing and annoying.

I'll aopen another issue for this.

[2015-02-14 00:15] nodiscc opened #110 "Redirect to previous search after deleting a link"
Followup to #87

Currently deleting a link takes you back to the home page (https://github.com/shaarli/Shaarli/commit/657837af111387c93b3a75149d93856df12c00d9). It should redirect you to your previous search if there was one set.

[2015-02-14 12:49] #89 closed

[2015-02-14 12:49] #105 closed

[2015-02-14 13:14] nodiscc opened #111 "Generic thumbnailer"
Currently we only support thumbnails for a bunch of sites. Thumbnailers for other sites have been requested at https://github.com/sebsauvage/Shaarli/issues/91, https://github.com/sebsauvage/Shaarli/issues/127, https://github.com/sebsauvage/Shaarli/issues/169, #14. As we cannot possibly add regexes for every site out there, I think a generic thumbnailer is the way to go. IMHO it should

 * Run serv

[2015-02-14 13:15] nodiscc commented on #79
No reply, closing.

[2015-02-14 13:15] #79 closed

[2015-02-14 13:21] nodiscc commented on #111
My bad https://github.com/sebsauvage/Shaarli/issues/91 is about reducing size of thumbnails and should be addressed separately.

[2015-02-14 13:28] pikzen commented on #111
A few things about this thumbnailer:

 * Can't be done clientside (in Javascript) because of CORS rules. A project exists, ImageResolver which does it in JS but it basically sends a request to self, which sends a request to a specialized server to handle thumbnailing, which returns the data. It's a bunch of complications, and in the end it still runs on the server.
 * Doing this with surface check

[2015-02-17 11:33] e2jk commented on #110
For documentation purposes, this is handled in #112.

[2015-02-17 13:36] dimtion opened #113 "REST api"
I don't know if it is a planned feature (nor if it already exist but not documented) but would it be possible to implement an api to view, add, delete items in the list ?

Today it is quite painful to access to the data, and require to parse the html output from the server.

[2015-02-17 13:42] e2jk commented on #113
Do you have any suggestion for a library written in PHP that would provide this with relatively small changes to the code? If this can be done while not increasing the complexity of the code too much, I'm not opposed to it (read: Pull Request welcome)

[2015-02-17 14:03] nodiscc commented on #113
@dimtion For read access, you can also parse the RSS feed (which is just XML). Write access requires sending HTTP POST data. You can find a way to programatically log in to your shaarli and some basic operations at https://github.com/nodiscc/shaarchiver (work in progress)

[2015-02-17 14:18] dimtion commented on #113
Thanks for the reply

@e2jk I don't know any today, however I will take a look...

@nodiscc Yeah, i was already looking in this direction (using the rss feed), but it was more about retrieving the token for posting (without any library) which was "painful".

[2015-02-17 14:42] nodiscc commented on #113
@dimtion

https://github.com/nodiscc/shaarchiver/blob/master/export-shaarli.py#L74

[2015-02-17 19:21] pikzen commented on #113
Implementing a REST API in Shaarli right now would basically mean rewriting already existing methods to output it in JSON/XML/whatever and duplicating code.

As of now, retrieving the token is your best bet. See @nodiscc's answer as a way to do it.
As far as posting goes, I'm afraid you're going to have to retrieve the token and POST it on ?do=editlink alongside with all the data, properly formatt

[2015-02-17 19:21] nodiscc commented on #41
Pull request https://github.com/shaarli/Shaarli/pull/108 solves this

[2015-02-17 19:34] dimtion commented on #113
Ok thank you for all your answers. I'll do that for the moment.

[2015-02-17 19:34] #113 closed

[2015-02-17 20:13] #110 closed

[2015-02-17 20:29] nodiscc commented on #84
Pull request https://github.com/shaarli/Shaarli/pull/86 should fix this, needs a rebase and some testing.

[2015-02-17 20:36] nodiscc commented on #97
This was originally reported after reading the discussion on Debian's mailing lists, copied at https://github.com/shaarli/Shaarli/issues/44#issuecomment-70526704. So far I wasn't able to find a malicious way to exploit this. If someone can come up with an idea on how to do nasty things with it, please reopen this issue. If you have suggestions on how to implement a different redirection system, fe

[2015-02-17 20:36] #97 closed

[2015-02-17 20:41] nodiscc commented on #102
I didn't look further into this, but my guess is that Firefox refuses to import this item because it has an invalid URL (

[2015-02-17 20:45] nodiscc commented on #73
Closing this as it has not been requested/updated by anyone in a long time. Feel free to reopen if you have more info, or add your question in the [General discussion](https://github.com/shaarli/Shaarli/issues/44) thread.

[2015-02-17 20:55] nodiscc commented on #95
I think this should be the first thing to do once 0.9 beta is released. There are several style fixers available, https://github.com/FriendsOfPHP/PHP-CS-Fixer is one.

[2015-02-18 09:58] e2jk opened #115 "Redirect to homepage after adding a link via "Add Link" dialog"
When I add a page to Shaarli, I usually do it one at a time. I do not use the bookmarklet, so my process goes as such:
- I find an interesting page
- I open my Shaarli page
- I log in (sometimes I'm still logged in, but it is definitely not reliable...)
- I click on Add Link
- I paste the URL of the interesting page, and hit Save

Then I usually want to confirm that the addition worked, so I want

[2015-02-18 10:02] e2jk commented on #101
I have created a [page to list all plugin ideas](https://github.com/shaarli/Shaarli/wiki/Ideas-for-plugins), and listed this plugin suggestion there.
I'm closing this issue, please reopen if anyone wants to work on it (or just create a Pull Request and we're done with it ;) )

[2015-02-18 10:06] e2jk commented on #14
I have just created a page on the wiki to [list plugin suggestions](https://github.com/shaarli/Shaarli/wiki/Ideas-for-plugins), as a way to unclutter the issues list. But that's before I had realized we had this issue open. Should we delete the wiki page instead?
The idea behind the wiki page is to be able to close issues for plugins that nobody is picking up at the moment, to have a somewhat clea

[2015-02-18 10:46] nodiscc commented on #115
I agree, Shaarli should redirect to the home page after hitting `Save` when the previous page was `?do=addlink`. Maybe we can use the HTTP referrer or the `returnurl` variable for this.

[2015-02-18 10:48] nodiscc commented on #101
@e2jk Thanks, I think it makes sense to close plugin requests that we are no one is willing to work on right now.

[2015-02-18 11:27] nodiscc commented on #14
@e2jk Thanks for creating the wiki page; we can move "wontfix" plugin requests there (eg. https://github.com/shaarli/Shaarli/issues/58). Just make sure the wiki page is linked from somewhere (the wiki Home page, or the README)

I'd keep both for the moment, this issue is a great way to see what would be _required_ for a plugin system, as the current proposal https://github.com/shaarli/Shaarli/pull

[2015-02-18 19:22] pikzen commented on #115
Yup, redirecting to a new addlink page makes little sense to me. Redirecting to / seems to be the most logical thing to do.

[2015-02-19 00:50] virtualtam commented on #106
Thanks for starting this thread! ;-)
As some of these points have been regularly mentioned by / discussed with fellow Shaarli users & readers, here are some thoughts about them...

Shaarli being mono-user has both pros & cons:
* pros: personal, easy to setup, no bothering about user management / access rights;
* cons:
 * in case you want several persons to contribute to the same instance, the cred

[2015-02-19 02:19] nodiscc commented on #106
Hi @virtualtam nice to have your insight! I have to think a bit more about some points you mentioned, but here are some ideas. **Incoming wall of text.**

We shouldn't let Shaarli handle these. A cron job on the server can handle sending mail attachments, committing and pushing to a VCS, rsyncing to remote machine ... whatever you can imagine. This can also be done from a client using software lik

[2015-02-19 05:41] e2jk commented on #106
I agree with your comments. Just a quick note about i18n: I am more of a proponent of vanilla gettext support, but it was also proposed to use RainTPL's own array structure. Anyway, you can find some starting snippets for the translation at https://github.com/sebsauvage/Shaarli/issues/18#issuecomment-14168240

[2015-02-19 11:07] e2jk commented on #44
FYI I have created a Gitter chat room to discuss Shaarli. Have a look at https://gitter.im/shaarli/Shaarli
I will add the "usual suspects" to the chat room as well.

[2015-02-19 13:37] nodiscc commented on #106
I agree about using GNU Gettext. The reference editor is [poedit](http://poedit.net/) but the [Transifex](https://www.transifex.com/) web platform also supports translating projects using gettext.

[2015-02-19 15:24] nodiscc commented on #84
Fixed in https://github.com/shaarli/Shaarli/pull/86

[2015-02-19 15:24] #84 closed

[2015-02-20 09:30] ArthurHoaro commented on #111
There is a warning if the url doesn't contain any image.

About performance issue, I'm not sure that's a huge problem since the requests will be done once, when the link is added. After that, we just need cache.

Another solution would be to make the requests asynchronous. It can't be done in JS, but we can call the thumbnailer through AJAX.

[2015-02-20 13:03] pikzen commented on #111
Yeah,  the parameters parts is just here for demo purposes and does no checks or anything.

I'd love to push out an improved version (which doubles performance, down to 1.5s per request WITH surface checking.) but it's currently sitting on a computer with no SSH or physical access :(

[2015-02-20 17:12] nodiscc commented on #111
@pikzen I'd remove the youtube-specific code and use the `<meta property="og:image" content="https://i.ytimg.com/vi/cqCoUvz_nwI/maxresdefault.jpg">` to get thumbnails for youtube. #117 also proposed using `og:image`. This metatag is described on the [Opengraph website](http://ogp.me/). This may also be faster than parsing the whole, page; if the metatag points to a valid image, use this and exit.

[2015-02-20 17:18] nodiscc commented on #4
Should we release v0.0.43beta now? There have been many improvements since the last release, and I think the current code is stable. The v0.9beta milestone still holds.

[2015-02-20 18:27] e2jk commented on #4
Fine by me

[2015-02-20 19:13] nodiscc commented on #4
[v0.0.43beta released!](https://github.com/shaarli/Shaarli/releases/tag/v0.0.43beta) Thanks to everyone involved.

[2015-02-20 19:14] nodiscc commented on #44
[v0.0.43beta released!](https://github.com/shaarli/Shaarli/releases/tag/v0.0.43beta) Thanks to everyone involved.

[2015-02-21 00:42] mro commented on #111
You also may want to have a look at
- thumbnail caching in https://github.com/mro/Shaarli/commit/92cddfd40b72ea97aa042dea487d6e2162fc4b4a and
- cleaning up broken images https://github.com/mro/Shaarli/commit/c48c07ba6d07e1162d09c94cad256a5c543b1d55

[2015-02-21 01:24] nodiscc commented on #111
@mro nice to have you here.

I'd rather have it use eager `GET` requests instead of adding long site-specific rules (as you said in https://github.com/shaarli/Shaarli/pull/117#issuecomment-75344614, most of your code is trying to resolve image URLs, which will become a mess if we add more and more sites - removing all site-specific code, [including current one](https://github.com/shaarli/Shaarli/b

[2015-02-21 13:47] e2jk commented on #34
Fixed in #120.

[2015-02-21 13:47] #34 closed

[2015-02-21 18:45] nodiscc commented on #46
Bookmarklets always open a small way for XSS, like the one presented at http://www.stealmylogin.com/ (scroll down for the bookmarklet). However running a bookmarklet from your Shaarli links _is no different_ than running it from your browser toolbar.

Basically when you're running "links" that run javascript code from your Shaarli OR your browser toolbar, you have to trust the code.

This is also

[2015-02-21 23:16] mro commented on #111
that's very kind, thank you, it's very nice to be welcome.

When bookmarking URLs that promise long-term availability. They're often logical URLs redirecting to a 'real' URL. See http://www.w3.org/Provider/Style/URI for the idea of permanent URLs.

example: http://purl.org/dc/terms/ (*purl* is for *permanent url*)

As to eager `GET` to look for `og:image`: Maybe the 'add link' form might get 1 mor

[2015-02-21 23:31] mro commented on #94
@pikzen agreed. KISS again.

[2015-02-22 08:43] Marsup commented on #94
FWIW, bcrypt has a prefix, it's completely recognizable from a SHA1, and it's much safer, but I'd say by far more than a factor of 100 depending on the cost you set it on.

[2015-02-22 21:48] virtualtam commented on #106
Yay for Gettext!
Transifex is great for community projects with a consequent UI, though I don't think it will be necessary for Shaarli (there aren't too many strings to get translated).

Thanks @nodiscc for pointing to Shaarchiver! :smile:
+1 for linking it in the Shaarli docs!

[2015-02-22 22:01] virtualtam commented on #115
Could this be left for the user to choose? A simple `Add an other link` checkbox would do the trick :)

Let me explain:
* +1 for home usage: add a link, go back to the home page;
* -1 for work usage: I sometimes don't have access to Shaarli for a couple days (thanks to companies' overzealous proxy filtering policies); links then agglutinate in an e-mail draft before being all added at the same tim

[2015-02-22 22:26] nodiscc commented on #115
The checkbox idea is fine, valid usecase (batch adding links)

[2015-02-22 22:36] virtualtam commented on #95
A good start would be to submit the PHP code to a static code analyzer (here's an [article](http://blog.codacy.com/2014/05/06/php-static-analysis-tools/) listing some).

What is likely to be detected:
* code formatting:
 * indentation,
 * lines too long (>80 chars),
 * parenthesis, commas, (trailing) spaces, tabs...
* variables assigned and never used,
* functions/methods:
 * unused arguments,
 *

[2015-02-22 22:59] nodiscc commented on #106
Summary (I'll update the list on top)

**Regarding backups:**

 * Example backup commands [added to the wiki](https://github.com/shaarli/Shaarli/wiki#backup)
 * shaarchiver [added to the wiki](https://github.com/shaarli/Shaarli/wiki#related-software)

**Regarding links archiving/mirrorring:**

 *  Tools like [autoblog](https://github.com/shaarli/Shaarli/wiki#backup) are already able to follow RSS

[2015-02-22 23:19] nodiscc commented on #95
I agree that "fixer" changes are not easy to review, we should be wary of automatic linting tools. Thanks for pointing to PHP Code Sniffer, it's something that can definitely be done (it doesn't have to be done all at once, small improvements and patches are welcome). I'll have a look at it.

[2015-02-22 23:30] virtualtam commented on #95
A common usage is to fix warnings within / close to commit scopes, e.g.
* I'm working on a feature that requires modifying `function1()` and `function2()`,
* I'll submit a patch that contains:
 * functional changes (what's needed for the feature),
 * code cleanup for the two modified methods.

This, or a "code cleanup rampage" sprint ;-)

I should have some spare time in the upcoming weeks to look

[2015-02-23 05:09] e2jk commented on #115
Either the checkbox (which still has you perform a one-by-one copy/paste
action), or we could change the <input> where you type in the URL to be a
<textarea> that allows you to paste one url per line, so that you could add
X>1 links at once.

I think we have to protect ourselves against the checkbox-itis when there
might be other options available.

[2015-02-23 05:15] e2jk commented on #95
Great suggestions. +1 for non-automatic changes (well, I guess I don't care
if it's automatic, as long as if it's not one big commit in git. If you
find a way to have an automatic tool change only one aspect at a time, it
makes it much more easy to review).

Having a Continuous Integration (e.g. TravisCI) would be great. When
submitting pull requests to Ampersand.js, I really like to see the messs

[2015-02-23 07:48] pikzen commented on #111
This usually gives awful results. On most of the websites I tried, it returned icons, or in the best case the website's logo. Even google.com's first image is the 'Download Chrome' logo.

I 100% agree on one point: parsing every single image should be a last resort because it's awfully long. A way to make this invisible for the end user would be to run in on another thread (lol php threads), but i

[2015-02-23 08:20] qwertygc opened #121 "Translate Shaarli to other languages"
Hello
Traduire shaarli ?
Cordialement.

[2015-02-23 08:34] nodiscc commented on #121
Hi, this was discussed at https://github.com/shaarli/Shaarli/issues/106#issuecomment-75469295, and originally at https://github.com/sebsauvage/Shaarli/issues/18. It was agreed we should use GNU gettext as the internationalization backend. Pull requests welcome.

[2015-02-23 08:45] e2jk commented on #111
Important to remember is that we are not a thumbnailing system, but a links
system. It's nice to have a thumbnail when relevant, or when the link is to
an actual image. But we shouldn't try to absolutely get an image for each
link (another reason not to parse the entire HTML for images).

I suggest we go with og:image as a generic way, and have a couple of
well-known websites handled differently i

[2015-02-23 08:47] e2jk commented on #121
I posted an early sample code at https://github.com/sebsauvage/Shaarli/issues/18#issuecomment-14168240
I won't have time to push for it soon (I just started my 2 companies this month, yay), but feel free to take the code and run with it!

[2015-02-23 08:51] ArthurHoaro commented on #49
In my opinion, the 'search by tag' field is useless, and not worth readding jQuery + jQueryUI on every pages :
  * Tag filtering is done by clicking on a tag from the link list or the tag cloud.
  * The search field can also be used if poeple are looking for something ; it searches through tags.

I believe in earlier versions you couldn't search tags through the regular search field, and that's wh

[2015-02-23 08:56] ArthurHoaro commented on #55
The PR is merged, and it's working so I suppose we can close this issue.

[2015-02-23 09:03] #55 closed

[2015-02-23 09:35] pikzen commented on #111
I'm actually looking at releasing my thumbnailer as a small library once I've ironed out a few edge cases. So Shaarli can make use of a thumbnailing system for its links system :3

After profiling I saw that the actual request (as in the part in file_get_content that actually downloads the page) is 99.02% of all the thumbnailing time, while parsing it is barely anything. And considering that we ne

[2015-02-23 10:14] nodiscc commented on #49
I for one often use the "search by tag" field because:

 * I have a lot of tags
 * Sometimes i know exactly what tag I'm looking for and
  * The tag is not directly available on the link list page I'm on.
  * I can't be bothered to open the tag cloud, search for the tag, click on it.

So while it's not high priority, I see 4 possible solutions
 * wontfix
 * reintroduce jQuery on linklist pages (it

[2015-02-23 10:34] nodiscc commented on #58
Closing this as no one is willing to work on it at the moment, I've added it to https://github.com/shaarli/Shaarli/wiki/Ideas-for-plugins. Feel free to reopen if there are updates, this is something I'd really like to have on the long run.

[2015-02-23 10:45] nodiscc commented on #46
Ongoing work in pull request https://github.com/shaarli/Shaarli/pull/119

[2015-02-23 11:16] nodiscc commented on #94
Sorry I was a bit hasty in closing this. Of course having more secure hashes would be great. [This SO question explains a possible way](https://stackoverflow.com/questions/16298409/password-hashing-bcrypt-to-sha1-md5) to migrate the passwords to another hashing algorithm. I'm fine with scrypt, bcrypt, SHA-512...

[2015-02-23 13:59] ArthurHoaro commented on #49
Do we just use jQuery for autocompletion? If so, your solution is probably the best thing to do, yes.

[2015-02-23 14:06] nodiscc commented on #49
@ArthurHoaro It's also used for lazy loading in the picwall. But again, specialized libs exist for that. Eg [blazy](http://dinbror.dk/blazy/) which is used by [MinigalNano](https://github.com/sebsauvage/MinigalNano/blob/master/js/lazy.js) by @sebsauvage

[2015-02-23 22:30] mro commented on #111
Ouch, indeed. But it fails for http://heise.de/-2557279 or http://spiegel.de/article.do?id=1019990.

[2015-02-24 09:56] pikzen commented on #111
Are you sure you don't have an issue with your PHP config (or mine has a generous config) ? I can file_get_contents both of those URLs and they return the entire site without any issue.

[2015-02-24 10:44] nodiscc commented on #111
Same results as @pikzen on Debian stable, apache 2.2.22-13+deb7u4, libapache2-mod-php5 5.4.36-0+deb7u3, mostly vanilla config.

[2015-02-24 10:49] mro commented on #111
You both (https://github.com/shaarli/Shaarli/issues/111#issuecomment-75734661, https://github.com/shaarli/Shaarli/issues/111#issuecomment-75728058) are absolutely right - what fooled me was that the `$httpstatus` is `301 Moved Permanently`. So no match here: https://github.com/mro/Shaarli/blob/92cddfd40b72ea97aa042dea487d6e2162fc4b4a/index.php#L2583.

Thank you for your patience!

[2015-02-24 13:09] nicolasdanelon commented on #89
@nodiscc I got a problem with this... If a ''cracker'' see my shaarli and he know that we got the code here in GitHub he can get the version of shaarli accesing the URL http://host.com/shaarli_version.txt
**we need to add a .htaccess file to restrict this access!**

[2015-02-24 14:13] nicolasdanelon commented on #89
cat .htaccess
RewriteEngine on
RewriteRule \.txt$ - [R=404]

[2015-02-24 20:49] e2jk opened #122 "Do not publicize Shaarli's version number at a "well known" location"
Reported by @nicolasdanelon in https://github.com/shaarli/Shaarli/issues/89#issuecomment-75753194, Shaarli's version number is visible at http://host.com/shaarli_version.txt

This is somewhat similar to https://github.com/sebsauvage/Shaarli/issues/214 and https://github.com/shaarli/Shaarli/pull/81 although it doesn't involve the version number in the HTML, but rather that there is a file at a fixe

[2015-02-24 20:50] e2jk commented on #89
@nicolasdanelon I do agree that we shouldn't disclose the version ID (as explained by @nodiscc in his the second post here), but I'm somewhat confused by your message indicating you have a problem with this, since in the very first post you even suggesting putting the "subversion date or number" in the footer ;)

Anyway, this is somewhat similar to https://github.com/sebsauvage/Shaarli/issues/214

[2015-02-25 12:29] nodiscc commented on #122
Pull request at https://github.com/shaarli/Shaarli/issues/123

[2015-02-25 13:33] nicolasdanelon commented on #89
In the beginning I want to show the community version in the footer BUT now I see the power of that... And I don't "want" that feature any more.  Because of that I think that we need to add a htaccess file with that restriction. @e2jk @nodiscc :)

[2015-02-25 13:39] nodiscc commented on #89
@nicolasdanelon htaccess is apache specific. See Pull request https://github.com/shaarli/Shaarli/pull/123

[2015-02-25 13:58] nodiscc commented on #106
About multi-user @virtualtam this was marked as wontfix: https://github.com/shaarli/Shaarli/issues/15. Just create multiple shaarlis. No need for multiple virtualhosts or DNS entries, just put them in separate directories, and enable dir indexes:

[code]

[2015-02-25 14:58] virtualtam commented on #106
@nodiscc: agreed, though the use case I had in mind is a bit different (and goes beyond Shaarli'scope, IMHO); I was mostly reporting it 'cause multi-user Shaarlis were asked quite regularly by friends/users ;-)

[2015-02-25 18:07] nodiscc commented on #106
@virtualtam I think a server-side (shell or python) script to maintain shaarli "farms" would be nice for those users, with the ability to create/delete shaarlis, reset passwords, ... Another worthwile side-project :)

[2015-02-25 18:21] nodiscc commented on #122
Copying my comment from https://github.com/shaarli/Shaarli/issues/89#issuecomment-75960607:

@nicolasdanelon htaccess is apache specific. See Pull request #123.

Edit: anyway preventing version disclosures is pointless in the end, because proper vulnerability scanners like Metasploit provide modules to detect version based on heuristics, small page rendering differences, etc. I've put up #123 but

[2015-02-25 18:29] nodiscc commented on #106
@DMeloni @Oros42 ping since you are involved in maintaining these farms.

[2015-02-25 18:49] Oros42 commented on #106
Pong !
Interesting discussions but I'm realy busy this week :-/

[2015-02-25 20:31] DMeloni commented on #106
Hi,
some users run on the same instance of shaarli on shaarli.fr, this is just a fork available here :
https://github.com/DMeloni/Shaarli

0/ the user connects on https://www.shaarli.fr/my/{pseudo}/
1/ a rewrite rule (apache2) create a 'pseudo' parameter
2/ forked shaarli creates a directory named 'data-pseudo' and specific cookie for avoiding connexion on the other accounts

The fork is probably

[2015-02-25 20:38] e2jk commented on #122
Yes, agreed. At this moment, all Shaarli's in use in the world that haven't switched to the community version, and the latest version with that, are broadcasting their version number, so removing it is slightly better, but it's not going to make or break the security of the whole ecosystem. Thanks for the PR.

[2015-02-25 20:41] #122 closed

[2015-02-25 21:22] nodiscc commented on #106
@DMeloni ok so this fork enables creating Shaarlis on-the-fly through a web interface, using the same base directory, but a different datadir for each user (https://github.com/DMeloni/Shaarli/commit/2154b3e8ebfc1c6f2ee1ecd1cda58e15255ee9c4). This is different from a multi-user Shaarli in my view. While it's a nice hack I don't think we would merge this.

You may want do to sanity checks because yo

[2015-02-25 21:39] e2jk commented on #106
Note that the gitter chatroom is also reachable via IRC, if needed: https://irc.gitter.im/

[2015-02-25 22:34] dper commented on #89
Security through obscurity is not a great strategy.  Hiding the version number won't stop attackers.

[2015-02-26 08:23] mro opened #125 "thumbnails: enable client-side caching."

[2015-02-26 08:25] mro opened #126 "thumbnails: cleanup leftovers after failed resize"

[2015-02-26 08:29] nodiscc commented on #125
@mro What do you mean? It was agreed that the implementation at https://github.com/shaarli/Shaarli/issues/111 should cache thumbnails server-side. Please continue thumbnails-related discussion at https://github.com/shaarli/Shaarli/issues/111

[2015-02-26 08:29] #125 closed

[2015-02-26 08:29] nodiscc commented on #126
Please continue thumbnails-related discussion at https://github.com/shaarli/Shaarli/issues/111

[2015-02-26 08:29] #126 closed

[2015-02-26 08:37] nodiscc commented on #111
@mro I see you're still working on your thumbnailing system. To prevent duplicate work, can you either:

1. Base your work on @pikzen's `thumbnailer` branch
2. Open a separate issue or pull request detailing your thumbnailer implementation.

Regarding client-side caching: what do you mean? Of course your browser caches thumbnails as any other resource. The caching should be done server-side to pre

[2015-02-26 09:27] mro opened #127 "Cleanup/refersh thumbnail after user deletes/edits a link"

[2015-02-26 09:37] mro commented on #111
@ https://github.com/shaarli/Shaarli/issues/111#issuecomment-76140684

I don't mind duplicate work. Increases choice.

No AFAIK. It's actively disabled: https://github.com/shaarli/Shaarli/blob/dbcad7406eedaeba259a6e1584ba3b0823115c8d/index.php#L86 vs. https://github.com/mro/Shaarli/commit/b30a147d3a4ac80571f761b00adb5f963044bb9f

[2015-02-26 10:02] mro commented on #111
IMO the core (unanswered) question is: **what is the default for links - thumbnail or not?**

Currently it's *no thumb* - only after a positive string match the whole process starts. This saves space and clutter (few thumbnails = few server-side cached files) but requires domain/url whitelists or patterns. Or an additional field (thumb source url or at least a flag) in the data store.

Secondary q

[2015-02-26 11:37] nodiscc commented on #111
@mro Your pull request at https://github.com/shaarli/Shaarli/issues/128 looks good.

Yes fine! As long as you keep a pull request up to keep track of your advancement.

 * nice `$filepath` and `$blankpath` clarification/cleanup.
 * `function saveThumbnailToCacheAndRespond()` very much needed.
 * generic thumbnailing function using `meta` looks good (can you detail/explain what the regexes are supp

[2015-02-26 14:31] nicolasdanelon commented on #89
@nodiscc I like the pull #123 but the current version is using .htaccess in cache, data, pagecache, tmp....  So.... ? index.php should deliver everything like in Laravel or WordPress does?
someone wants to add symfony components to Shaarli.. Maybe for a refactor is finally the time :P

[2015-02-26 14:34] mro commented on #111
[they](https://github.com/mro/Shaarli/blob/d1fa472fbbcbab4d3881dc8c1c8f04476e90de32/index.php#L2443) return the thumbnail image url candidate. It's 2 matching groups because the attributes can be written `<meta property=... content=.../>` or `<meta content=... property=.../>` (`<link` likewise) and exactly one matching group is non-null in case of a match.

A proper xml (sax/dom) parser would be c

[2015-02-26 21:39] virtualtam opened #130 "Discussion: Continuous Integration tools & features"
This issue focuses on adding [Continuous Integration](http://martinfowler.com/articles/continuousIntegration.html) support for Shaarli (and is a bit Travis-oriented, too).

For a PHP website, it is relevant for checking:
* code is clean (static analysis),
* unitary and functional tests are passing,
* how well the codebase is covered by tests (code coverage).

[Travis CI](http://travis-ci.org) is f

[2015-02-27 00:45] nodiscc commented on #89
files in `data/` and `pagecache/` are obfuscated in the same way I did in #123 (.php file extension, datastore contents are commented out). `cache/` doesn't leak information unless you are able to enumerate the files in it. `.htaccess` files are just a convenience. Version disclosures are non-issues as said above. Feel free to rewrite Shaarli if you have some time.

[2015-02-27 00:50] nodiscc commented on #111
Default should be enabled, with a toggle-off option. I was initially in favor of a plugin for this (see https://github.com/shaarli/Shaarli/pull/129 for a basic plugin system) but in the current form it does not allow us to cache files (does it?).

Yes your code improves the current thumbnailer, even though I'd still like to remove the ~200 lines of site-specific code, it's better than what we have

[2015-02-27 09:26] e2jk commented on #130
Great initiative, let's do this.

[2015-02-27 10:47] ArthurHoaro commented on #130
I never used Travis but I see it often, probably good enough. And Jenkins might be a bit overkill and a bit hard to maintain. Coverall is used to get unit test coverage of the code. I don't know if Travis can do it. Good work anyway!

[2015-02-27 13:03] nodiscc commented on #130
https://github.com/shaarli/Shaarli/pull/124 related

[2015-02-28 00:08] xuv opened #131 "Fresh Install config.php file creation doesn't work"
Tried with latest commit and v 0.0.43beta, a fresh installation of Shaarli doesn't show any configuration page and seems to do a strange forward to a unknown page.

If I use an old config.php file, the website displays correctly, but for some reason, I could not get to login.

I thought at first I had a session problem, because when I would load the ?test_session page, it would display me the erro

[2015-02-28 00:20] xuv commented on #131
After a fresh install and configuration with v 0.0.42, I upgraded to v 0.0.43 and everything is fine. So I guess, it's when there is no config.php that there is a problem.

[2015-02-28 00:23] xuv commented on #131
Oops. Not, sorry. ?do=rss and ?do=atom send to that weird url I was mentioning before. It forwards to this: http://_/shaarli/?do=rss for example. (Where does that underscore comes from?)

[2015-02-28 00:31] xuv commented on #131
Ho damn. I'm so stupid. Sorry for the bother. That _ comes from my nginx server name configuration.

[2015-02-28 00:31] #131 closed

[2015-02-28 11:07] s1dh commented on #92
@nodiscc for testing @ArthurHoaro's file, I did git clone https://github.com/ArthurHoaro/Shaarli.git from my development web server and gave it a try ... Is this wrong ?

[2015-03-01 02:15] nodiscc commented on #92
This is also artificial and out of context most of the time.

[2015-03-01 20:02] s1dh commented on #92
It depends of your workflow. Suppose each time you have to search on a specific topic you open a new window in your browser (one window per specific topic) this window will contain all the tabs with relevant results of your searchs. So in one window, all tabs more or less refer to the same "tags sequence" .

So, for each tab you want to keep in shaarli in this context, displaying the (X) last tag

[2015-03-02 10:56] nodiscc commented on #49
https://github.com/aehlke/tag-it is another autocompletino lib (but still relies on Jquery UI)

[2015-03-02 11:08] ArthurHoaro commented on #49
I took a look at it yesterday, and I didn't find a single proper lib which doesn't rely on jQuery (or angular and cie) and supports multiple tags. :(

[2015-03-02 11:12] Marsup commented on #49
What about http://leaverou.github.io/awesomplete/ ?

[2015-03-02 11:14] nodiscc commented on #49
@Marsup this is the lib I suggested initially but it appears that [it doesn't support autcompletion on multiple words](https://github.com/LeaVerou/awesomplete/issues/14184#issuecomment-76694237) which is something we need.

Edit: there might be progress on this, as per the issue comments ;)

[2015-03-02 11:15] Marsup commented on #49
Sorry, didn't notice, it worked on the demo at least :)

[2015-03-02 11:22] ArthurHoaro commented on #49
That's really interesting! However, the way this lib works, it means we need to write every tags in the HTML page. I don't think it's a big issue, but it might be important to notice.

[2015-03-02 13:13] nodiscc commented on #49
Autocompletion for multiple words is now working at https://leaverou.github.io/awesomplete/#advanced-examples (scroll to "Multiple values")

[2015-03-03 12:13] nodiscc commented on #115
So what happens when you click `Add link` and have multiple links in the area? Does it send you to a series of `editlink` dialogs?

[2015-03-03 13:56] ArthurHoaro commented on #49
You're right. I closed my PR. The tag order code can be changed later if it's necessary anyway.

In the example provided, you can use your arrow keys and press Enter. I'd say it's good enough.

Also, the autocomplete algorithm is not exactly the same since it also searches *inside* words (not only starting with). It's even better IMHO. And finally the HTML storage, as I said in my previous comment

[2015-03-03 14:02] nodiscc commented on #49
Agreed with everything you said.

[2015-03-03 18:41] alexisju opened #133 "More annoying URL parameters cleanup + loop cleanup"
Dans index.php, j'ai ajouté ceci pour nettoyer diverses url (ajouts de facebook, scoopit, et divers utm...) : ça fonctionne bien même si cette liste n'est pas exhaustive...

$i=strpos($url,'?fb_'); if ($i!==false) $url=substr($url,0,$i);
$i=strpos($url,'?__scoop'); if ($i!==false) $url=substr($url,0,$i);
$i=strpos($url,'#tk.rss_all?'); if ($i!==false) $url=substr($url,0,$i);
$i=strpos($url,'?utm_c

[2015-03-03 18:55] nodiscc commented on #133
Copying comments from https://github.com/sebsauvage/Shaarli/issues/168:

TL;DR I was proposing to remove URL cleanup features from Shaarli, and moving this to a userscript. It is true that this is less useful for the average user. @alexisju has more (tested) URL filters to propose.

[2015-03-03 21:05] nicolasdanelon commented on #89
@nodiscc @e2jk this is the last comment here. I promise. if we *obscure* the version N° in the footer what about this?

![screenshot from 2015-03-03 18 01 54](https://cloud.githubusercontent.com/assets/2846046/6472217/8e7f5fa2-c1cf-11e4-8bc7-b75e627d70bd.png)

thanks! :) good work, I will use community version in my server since tomorrow

[2015-03-03 22:08] nodiscc commented on #89
@nicolasdanelon Well spotted! I'll remove that, not because it discloses the current version, but because it has no purpose. It's there to prevent browser from using old, cached stylesheets, but anyway we use the `no-cache` header that prevents caching (even if this is bad for performance, we re-download the CSS on every page request).

[2015-03-04 03:38] nicolasdanelon commented on #89
@nodiscc  what about put date("YM") so we can have a decent cache time ?

[2015-03-04 04:57] e2jk commented on #115
I would suggest the template that is used to edit the links is repeated for each link.
I'd like to split this issue into 2 discussions:
- One to redirect to the home page after adding a link (the original intent of this issue/question)
- One to better support batch-adding links (which was raised as a potential downside to redirecting to the home page, and for which I think we can do better than se

[2015-03-04 05:09] e2jk commented on #133
Not sure I understand exactly what you mean by this, @nodiscc.
Shaarli's primary role is to store URLs for later retrieval. As such, I believe it should store as clean URLs as possible, and that if there are well known/well identifiable patterns that can be removed (as is the case with those that are currently in the code, and the new ones suggested by @alexisju) I do believe removing them has a p

[2015-03-04 05:27] e2jk opened #134 "Remove version number from CSS URLs"
Copied from #89:

From @nicolasdanelon:

From @nodiscc:

[2015-03-04 05:28] e2jk commented on #89
Let's discuss this specific issue further in #134.

[2015-03-04 05:35] e2jk commented on #134
We should not use `no-cache`, if that is truely the case.

Looking at my Shaarli running still 0.0.42, these are some of the headers sent out on a query for `/`:

[code]

And I got a 304 response back. So we are using the cached version, but we are also sending a query out which should send us the new version, if there was a new one since July 2014 (in this case).
So it seems fine to me in the cur

[2015-03-04 05:47] e2jk opened #135 "Overlap in COPYING and inc/LICENSE?"
Would it be possible to merge these two files?
- ` COPYING`
- `inc/LICENSE`

The copyright information contained in the second file is already (albeit more succinctly) contained in the first file. Any specific need to keep the second file around?

[2015-03-04 07:50] nodiscc commented on #134
I get a `200` response with the `no-cache` header on `/` everytime I refresh the page. I get `304 not modified` responses on resources (images, CSS...). I think it's fine. Browsers should pick up new CSS versions if there are any. I don't know why the `?version=x.x.x` was there in the first place. Any idea?

[2015-03-04 07:52] nodiscc commented on #133
Ok this is what I came to think too (hence "this is less useful for the average user"). Let's refactor the URL cleaning code to use looping over an array, and add @alexisju's suggestions.

Cleaning only the relevant part of the URL can be done in a later PR.

[2015-03-04 07:54] nodiscc commented on #115
Thanks @e2jk Let's redirect to the previous search first, just like we do after deleting a link. @virtualtam Please report a new bug for batch-adding links if you want.

[2015-03-04 07:56] e2jk commented on #134
Reason: [Cachebusting](http://stackoverflow.com/a/7671208/185053).
As this is working as designed (cached CSS, non-cached Index.php) and we're not going to furhter remove version numbers ("Resistance. Is. Futile." mantra), I'm closing this issue.

[2015-03-04 08:04] e2jk opened #136 "Clean ?utm_content, ?xtor and ?fb parameters from URL"
Split out from #133: When removing the tracking parameters (e.g. `?utm_source=[...]`), the code currently removes everything that comes after it. Theoretically there could be other parameters in the URL that are relevant.

Question: should we only remove that parameter and it's value, leaving what comes after it if anything?

It is most likely that tracking parameters are *appended* to the URL, so

[2015-03-04 08:07] e2jk commented on #133
Created separate issue #136 for the selective clean-up (after describing this further, I'm not 100% sure we need to do that, please discuss there).
@alexisju would you like to take a pass on refactoring the current code, and add your new parameters to the list? That give you a good opportunity to get more familiar with the development process of Shaarli, and we'll be able to discuss the changes in

[2015-03-04 08:23] nodiscc commented on #136
For what it's worth, I never had a problem with Shaarli removing _everything_ after the `?utm..` crap. But as we're adding new URL params soon, let's wait and see.

[2015-03-04 08:24] nodiscc commented on #135
You are right. I'm on it, it will be part of the next PR.

[2015-03-04 08:41] nodiscc commented on #134
From your link:

I don't think we set a `Expires` header at all. I can't see it in my HTTP response headers. So can this be removed? If the file changes, the server should reply with `200` instead of `304` on the CSS file, right?

[2015-03-04 08:48] nodiscc commented on #130
I think this will be safe to close once #124 is merged. Or are there remaining points we need to discuss? Or we may continue in https://github.com/shaarli/Shaarli/issues/95

[2015-03-04 08:58] e2jk commented on #134
This is what I get back from my Shaarli, running with Nginx:

[code]

So I don't get an `Expires` header, and I get both `Etag` and `Last-Modified` back from the server.
In short, removing the version number should not negatively affect my setup.
I have no clue how Apache would handle this (but I suppose it would be fine also).
If we can get an Apache example, we can potentially remove the version

[2015-03-04 09:01] nodiscc commented on #92
I'll close this for now; it was decided in https://github.com/shaarli/Shaarli/issues/49 that the best course of action is switching to [awesomplete](https://github.com/LeaVerou/awesomplete) for autocompletion in the first time, and remove jQuery. @s1dh's workflow is valid, but really an edge case (see comments in the other issue). Once awesomplete support is in, we can discuss this again.

There w

[2015-03-04 09:01] #92 closed

[2015-03-04 09:05] nodiscc commented on #134
I get the same **Response** headers on apache 2.2. The **Request** headers explicitly specify `If-Modified-Since:	Mon, 02 Mar 2015 14:08:56 GMT`, which is the last modification date of my shaarli.css. I tried changing a single character in the file and refreshing the page, and the new CSS was fetched.

I'll remove the `?version=` in the next PR. Thanks for your help @e2jk

[2015-03-04 09:09] nodiscc commented on #14
Plugin system pull request at https://github.com/shaarli/Shaarli/pull/129

[2015-03-04 10:45] s1dh opened #137 "batch "add multiple links" feature"
When we use one browser's window per topic search, it could be handy to save all the tabs in that window with the same tags in shaarli (like Command + Shift + D in Chrome osx version e.g.)

Of course , and as it hsas been said in others issues, copy/paste tags is possible for each tab we want to bookmark, but I found that way quite overkill.

[2015-03-04 11:34] nodiscc commented on #137
The way I see it there's no way to add a browser-wide shortcut for this because it's outside Shaarli's scope (how could it know about your open tabs?).

It was proposed in https://github.com/shaarli/Shaarli/issues/115#issuecomment-75490331 to make the `Add link` dialog URL input field multi-line (`<textarea>`), and add each line as a separate link. So the workflow would go like:

 * Open the `Add

[2015-03-04 13:44] s1dh commented on #137
Sorry for being too much naive , while reading to this : https://stackoverflow.com/questions/11114395/get-urls-of-all-open-tabs-in-chrome-and-send-it-to-a-web-service

I thought it was possible to know the url of all open tabs in javascript (maybe it depends of the browser ).

Your workflow is a way "longer" that detecting all open tabs but it is quite better than the actual workflow (copy/paste)

[2015-03-04 14:07] nodiscc commented on #137
https://stackoverflow.com/questions/6553334/how-to-get-the-url-of-currently-opened-tabs-in-all-browsers-with-php-or-javascri

[2015-03-04 15:41] nicolasdanelon commented on #134
We do not need to add anything. Server Configuration establishes how to cache things. Through .htaacess archvos or * .conf in the server side configuration.

But it is a good idea to try to force once a month, ***if the user to update Shaarli And we change the CSS styles***, the stylesheet is re-download

[2015-03-04 15:47] nicolasdanelon commented on #134
Each server returns the files according to ***his*** configuration. Is useless to compare what everyone sees in localhost or on your shared server.

## Shaarli should not force any header or any cache. The end user must be able to decide what to do in his server configuration :)

[2015-03-04 15:52] nodiscc commented on #134
Patches welcome.

[2015-03-04 15:58] nicolasdanelon opened #138 "How safe is Shaarli dev in production server?"
Hi, I just want to know if can I use the live version or I need to downgrade to 0.0.43beta

[2015-03-04 15:58] mro commented on #133
https://github.com/mro/Shaarli/commit/0e0771ff9d9ab2cbe0939bb20c0104cee8f49839 that's how I do it in my installation.

[2015-03-04 16:24] nodiscc commented on #138
No security vulnerabilities or data corruption/loss issues are known in the current `master` (https://github.com/shaarli/Shaarli/tree/7572cfbe9620b13569ee47337f7015bcad119332). Though you should always do automated, periodic, encrypted, offline backups of your `data/` directory (like any other user-generated data/config).

[2015-03-04 16:25] #138 closed

[2015-03-04 16:33] nicolasdanelon commented on #46
-1 to add javascript:**something**

[2015-03-04 16:46] nodiscc commented on #46
@nicolasdanelon +1s an -1s without technical argumentation spams everyone subscribed to this issue (mail notification, RSS notification and Github notification). Please refrain in the future, thanks.

[2015-03-04 17:51] virtualtam commented on #130
As Travis support is not likely to be brought in #124, I suggest we keep this issue open to define:
* what should be tested (features),
* which PHP versions are expected to be supported by Shaarli,
* which tasks should be run in a CI tool.

[2015-03-05 00:00] nicolasdanelon commented on #134
ok. workin on that brunch asap!

[2015-03-05 02:43] nicolasdanelon commented on #46
ok, sorry.
is not a good practice for coding. developers shouldn't code like that and we shouldn't be agree with this kind of practices. -1

[2015-03-05 09:03] alexisju commented on #22
Why do you consider that a "theme" is just another CSS ? To make AlbinoMouse (http://liens.effingo.be) i had to change many tpl to design really a something different.

It's why i need to maintain another full repository (what is not very convenient).

[2015-03-05 09:53] nodiscc commented on #22
@alexisju Yep! This is why we differentiate between themes and templates (btw albinomouse is very nice)

 * There is a *templates* repository at https://github.com/shaarli/templates
   * You could add albinomouse to it like we did for hoa.ro
 * There is a *themes* repository at https://github.com/shaarli/shaarli-themes
  * These are themes for the default template

There is still much work to do a

[2015-03-05 10:05] alexisju commented on #22
ok, I'll consider this to try to make my templates a bit more compliant to follow future updates from the community forks of shaarli :)

[2015-03-05 12:42] #133 closed

[2015-03-05 12:44] #115 closed

[2015-03-05 12:44] #134 closed

[2015-03-05 12:44] #135 closed

[2015-03-05 13:50] ArthurHoaro commented on #130
Also, how to organize the code to allow unit testing.

[2015-03-05 16:03] nodiscc commented on #14
I've closed #129. The plugin system is available in branch https://github.com/shaarli/Shaarli/tree/new-plugin-system of this repository. Feel free to add your work on top of it and send Pull Requests. Items that need to be dealt with before merging:

 * QR code onClick event is broken
 * plugin option defaults should not be defined in index.php, rather, explain they have to be configured (in the w

[2015-03-05 16:55] nodiscc opened #142 "New bookmarklet for note taking"
Reported by @sebsauvage at https://github.com/sebsauvage/Shaarli/issues/59

Just click the bookmark, type or paste text, validate.

[2015-03-05 17:00] nodiscc opened #143 "Add a "Read later" bookmarklet"
Reported by @sebsauvage at https://github.com/sebsauvage/Shaarli/issues/7:

[2015-03-05 17:41] alexisju opened #144 "Let RainTPL handle date formatting"
As you know, date's formatting depends of the server's configuration.This causes some difficulties:

- Local problem (for example, if the server is configured in English, the date will not be displayed in your usual format, which can be uncomfortable for the user).
- The format is not necessarily the one I want to use my template (and having to hack index.php is not what there is of more convenien

[2015-03-05 18:04] alexisju commented on #102
I the same way, i think it's still a bug to import correctly from Delicious links + tags.

I fact, delicious support tags with space, who can't be imported corectly into Shaarli.

[2015-03-05 18:12] alexisju opened #145 "Manage tags with space"
Managing tags with spaces can be usefull :

1. more user friendly even if this imply to manage tags differently: with tabs, comma, or semicolon for example.

2. It could also resolve a little bug when you try to save a tag with a comma. (For now this shows empty tags associated with the link - but if you have js enabled maybe you have never seen that.)

3. Managing that could also permit to import

[2015-03-05 18:24] ArthurHoaro commented on #144
I did a ugly hack, but I think we can do better with RainTPL like [this](https://github.com/rainphp/raintpl3/issues/167). We just need to provide the timestamp instead of formatted date.

About RSS datetime, I wouldn't recommand it since RSS Reader (such as Shaarlo) might use it to retrieve or order their *shaare*.

[2015-03-05 18:31] ArthurHoaro commented on #145
It might be solved soon since we're currently working on a new tag system. See #49 for more information.

[2015-03-05 18:39] alexisju commented on #145
Great! :-)

[2015-03-05 19:07] nodiscc commented on #144
I'd be ok with letting RainTPL parse and format dates (index.php would just pass a timestamp), **but** Shaarli currently formats the date/time depending on the browser locale (`Accept-Language` HTTP request header) and I don't know if RainTPL can do the same thing.

No. `HIDE_TIMESTAMPS` should be respected everywhere.

[2015-03-05 19:09] nodiscc commented on #145
Sorry to disappoint, we won't allow spaces in tags. This has been discussed here: https://github.com/shaarli/Shaarli/issues/70. Space will remain a tag separator.

Does anyone still use delicious? If yes, we could fix the import code.

[2015-03-05 19:09] #145 closed

[2015-03-05 19:14] nodiscc commented on #145
@alexisju

Jamais vu ce bug. C'est quoi?

[2015-03-05 19:52] nodiscc commented on #44
I've registered a [bountysource](https://www.bountysource.com/teams/shaarli/issues) project for Shaarli. Anyone can now vote for issues there instead of adding +1s to the bug tracker. You can also place bounties (starting with $5 I think) on bugs; anyone that fixes a bug on which a bounty has been placed can claim it. The bountysource badge is displayed in the main README.

Sorting of plugin reque

[2015-03-05 19:53] alexisju commented on #145
En enregistrant un lien avec un ou plusieurs tags avec une ou plusieurs virgules : le lien sera enregistré avec plusieurs tags vides.

Je ne rencontre pas ce problème au quotidien, depuis le temps que j'utilise shaarli, mais au début, j'avais souvent le réflexe de séparer mes tags avec des virgules (habitudes prises sur d'autres sites comme delicious ou scoopit pendant des années).

L'autocompleti

[2015-03-05 20:00] e2jk commented on #143
Yeah, I would gladly stop using [readability.com](https://readability.com/) for my own self-hosted solution! (although it wouldn't do the "keep only the content" part that is also pretty nice...)

[2015-03-05 21:08] e2jk commented on #46
@nicolasdanelon It's not Shaarli's job to influence "coding practices".
With HTML5 "apps", Firefox mobile and all, if you just take a "all JavaScript is bad" approach you haven't got a bright future in front of you.
Plus, this doesn't have anything to do with the developers of the websites, since this would be used primarily to store bookmarklets.
Sorry, not a convincing argument to me.

[2015-03-05 22:15] alexisju opened #146 "How to avoid to have duplicate tags due to case sensitivity?"
Wordpress avoids that problem decomposing tags into 2 entities : tag name (case sensitive) + tag slug (insensitive). When you add tags to an article, you can do it considering the case or not, but you won't create duplicate tags.

Scoop.it, i guess, uses something like that. Tags are case sensitive but, you cannot use another formating of an existing tag. Autocompletion only suggests the existing

[2015-03-05 23:51] virtualtam commented on #130
Though it's not that straightforward, it's actually the other way around :)

Here's an efficient workflow, to bring tests to a software:
* identify core / sensitive features,
* cover them with tests, as relevant as possible:
 * nominal usage: what is a method supposed to do?,
 * nominal error handling: what is likely to break often?,
 * borderline cases: erroneous values, invalid arguments, etc.
*

[2015-03-06 05:53] e2jk opened #147 "Show Add Link field on home page when logged in"
Enhancement suggestion: When logged in, show the Add URL field right on the home page. The form directs to the same page as when adding the link from the regular "Add Link" page, so no special form submit code is needed.

When I want to add a new link, this is my current workflow:
1. Go to my web page
2. Click Log In (as I'm often not logged in anymore, due to e.g. other computer/device)
3. Submit

[2015-03-06 16:36] nodiscc commented on #147
I'd not like a 3rd field there very much. The UI is already far from perfect with only 2 fields. I also  rarely use `Add Link`. A few comments:

 * Is there any particular reason why you don't use the bookmarklet (general question about workflow)?
 * Your solution saves exactly 0 clicks. Step 4 you'd have to find, point and click the "Add link" field (instead of the button).
 * You could save a bo

[2015-03-06 16:50] nodiscc commented on #146
Several possible solutions:

 * make tag search case-insensitive (so searching for `europe` and `EUrope` would return the same results). This _might_ break tagging for some users that actually use casing to separate tags. You'd still have multiple cases in the tag list. Not perfect but maybe this is ok.
 * Leave it as is. I'm ok with this.
 * Convert tags to lowercase on save. I don't know. Maybe

[2015-03-06 16:55] alexisju commented on #146
- Leave as is and create a tool to merge similar tags, in addition to the renaming tool.

[2015-03-06 17:00] nodiscc commented on #130
This also adds workload (I don't argue it's a best practice). We can't expect more contributors if the contribution process gets complicated.

Your move from bash/perl/awk to standardized python scripts was probably the biggest improvement here. Adding tests is ok if you want to do things _the right way™_, but come on we're working on a 2500-line PHP script here... In my eyes it's really low prior

[2015-03-06 17:02] nodiscc commented on #146
This might be the best solution. What would the rules be? What are "similar" tags?

[2015-03-06 17:16] alexisju commented on #146
Similar = same tag regardless of the case ?

[2015-03-06 17:18] nodiscc commented on #145
Si c'est le cas c'est pas très bien. Je regarderai. Peut être faire le changement de lib d'autocompletion avant.

Comme dit dans #70:

 * C'est simple. Pas besoin de se souvenir si le séparateur est espace virgule point virgule. C'est espace.
 * Faire ce changement casserait les habitudes de *tous* les utilisateurs de shaarli habitués à espace. Perso je me ferais avoir à chaque fois et j'entrerais

[2015-03-06 17:20] nodiscc commented on #146
So `sometag` and `Sometag` would merge to `sometag`?

[2015-03-06 17:42] alexisju commented on #146
I imagine rather a tool that detects potential duplicates, then the user could be able to choose or not to rename this tags bundle.

But, at the same time, to prevent the creation of these duplicates (or similar tags), autocompletion would require looking for existing tags regardless of the case.

[2015-03-06 17:57] nodiscc commented on #49
We should keep in mind:

Tag suggestions should be case-insenstive to help with https://github.com/shaarli/Shaarli/issues/146#issuecomment-77601666

[2015-03-06 18:01] nodiscc commented on #146
Not very KISS.

[2015-03-06 18:14] virtualtam commented on #130
Well, let's do these 2500 lines of code _the right way_ then :D

Oh, and the nice things about testing:
* writing them is not that hard, just time-consuming at first,
* it makes contributing simpler:
 * for the contributor: test tell you if your contribution is good/stable enough for submission,
 * for reviewers: you can see what has been brought by the PR, how it works,
* it won't prevent people

[2015-03-06 18:20] nodiscc commented on #130
I agree. A patch for a simple, initial test would be accepted.

[2015-03-06 19:11] ArthurHoaro commented on #145
Désolé pour la réponse rapide, je ne connaissais pas l'existence de #70. :/

[2015-03-06 19:18] ArthurHoaro commented on #44
Maybe you can add the bountysource link in the readme.

[2015-03-06 19:20] nodiscc commented on #44
@ArthurHoaro it's on top, next to to the gitter link

[2015-03-06 19:27] ArthurHoaro opened #148 "Use awesomplete as autocompletion JS lib"
The idea is to remove jQuery dependency in Shaarli. The last usage of jQuery we have is for tags autocompletion. We kinda agree to use [awesomplete](https://github.com/LeaVerou/awesomplete). It's light, has no dependency and seems to work pretty well. You can find [a demo here](https://leaverou.github.io/awesomplete/#advanced-examples).

Discussion about autocomplete has been running in other issu

[2015-03-06 19:31] ArthurHoaro commented on #148
After a few tests based on LeaVerou/awesomplete#14184, it seems I can't use a space delimiter, since the lib uses `,` as default. I'll see if I can do something about it.

[2015-03-06 19:44] nodiscc opened #149 "Sync the contents of the wiki to a `doc/` directory"
I'd like to sync the contents of the current wiki to a `doc/` subdirectory in the repo. We could add a help link to Shaarli's interface, pointing to `doc/Home.md`. Users would be able to read the doc locally on their server/local copy. The docs are also a central part of the project an should be included in the repo/releases. Markdown has the advantage of being readable in any text editor. There a

[2015-03-07 13:11] #142 closed

[2015-03-07 17:46] nodiscc commented on #111
New thumbnailer Pull Request in https://github.com/shaarli/Shaarli/pull/153, based on previous #128 which broke because of a missing character. It's now unbroken, but thumbnailing code itself doesn't work. Help welcome

[2015-03-07 17:56] nodiscc commented on #146
Closing this. If you have tags with iMProPeR casing, find an easy to remember/respect convention like `everythinglowercase`. @alexisju you have a lot of tags, I suggest you rename `SomeThingComplicated` using the tag renaming tool to `somethingcomplicated`, or find another system using `-` or `_` and stick to it. Tricks involcing casing will confuse you anyway.

![toomuchtags](https://cloud.github

[2015-03-07 17:57] #146 closed

[2015-03-07 20:14] alexisju commented on #146
Maybe i have a lot of tags because i have a lot of links since many years? 12 years of shared links...

But thank you for your advice :-)

However I opened this issue not for my case but to help to make shaarli better through constructive and realistic suggestions.

Why did you close this issue? Only because i have a lot of tags? (seriously?)

Please, don't close to quickly issues and discussions

[2015-03-07 21:14] nodiscc commented on #146
I closed this issue because I thought we concluded. No harm meant and I think you did a great job in keeping your link sharing active this long. This issue was about technical points, everyone is free to discuss management tricks and usability problems in the [General discussion](https://github.com/shaarli/Shaarli/issues/44) thread, even en français. That's what the thread is for.

The general gui

[2015-03-07 21:18] nodiscc opened #154 "Create a file with contribution guidelines"
Followup to https://github.com/shaarli/Shaarli/issues/146

Maybe it'd help if we created a file with contribution guidelines about issue management, pull request/code review, etc. for the project.

Related resources:
 * https://github.com/blog/1184-contributing-guidelines
 * https://github.com/contribute-md/contribute-md-template/blob/master/contribute.md
 * https://github.com/btford/participating

[2015-03-07 21:28] nodiscc opened #155 ""convert all tags to lowercase" button in tools dialog"
Followup to https://github.com/shaarli/Shaarli/issues/146

A growing list of tags can be painful to manage. Casing errors and variants introduce a lot of almost-duplicate tags so we could provide a button to convert all tags to all-lowercase. (next to the rename tags button)

[2015-03-07 21:45] nodiscc commented on #46
Copied from #119

[2015-03-07 23:35] nodiscc commented on #154
**The wiki** is world-writable. Anyone is free to add and edit chapters and pages.

Large changes should preferably be discussed in [General discussion](https://github.com/shaarli/Shaarli/issues/44) beforehand (you can post a draft there and edit it).

If you create a new page, please link it from the new page (eg from the [Other links](https://github.com/shaarli/Shaarli/wiki#other-links) section

[2015-03-07 23:37] nodiscc commented on #44
I think we could add some tag management tricks to the wiki, some have been discussed here https://github.com/shaarli/Shaarli/issues/146#issuecomment-77710432

[2015-03-07 23:42] nodiscc commented on #154
**Reporting bugs, feature requests: issues management**

The general guideline of the fork is to keep Shaarli simple (project and code maintenance, and features-wise), while providing customization capabilities (plugin system, making more settings configurable). We'll try to keep the number of open issues low so that we can keep focus. Issues can be reopened if there's a clear direction about part

[2015-03-08 11:57] nodiscc commented on #44
I've managed to use my IM client (pidgin) to login to https://gitter.im/shaarli/Shaarli. It's not straightforward so here is how to do it:

 * Go to https://irc.gitter.im/, login and copy your token
 * In your messaging client, create a new IRC account. Server is `irc.gitter.im`, username is your Github username, password is your token (the server password, **not** the auth/NickServ password)
 * M

[2015-03-08 16:15] nodiscc commented on #46
Another solution is to have have an option/checkbox (heh) in the tools dialog, checked by default:

`[x] Only allow bookmarking http://, https:// and magnet: URIs`

[2015-03-08 20:39] mrjovanovic opened #157 "Use Unicode for icons instead of Images"
Right now, Shaarli uses images as icons in the default template. This is an issue for usability on HiDPI screens, where icons are either too small and unusable, or large and look terribly pixelated. This is also an issue for people with poor visibility who use larger fonts, or mobile devices which have high pixel density.

One can change the default templates ([as I did](https://github.com/mrjovan

[2015-03-08 21:10] nodiscc commented on #157
@mrjovanovic websites not displaying correctly on HiDPI screens is likely a browser/DE configuration problem. Have a look here: https://wiki.archlinux.org/index.php/HiDPI#Browsers for configuration tweaks on HiDPI screens.

Zoom or screen readers are a common answer this problem, not forcing larger fonts (not proportional).

We can't use unicode glyphs by default without using a webfont, because t

[2015-03-09 08:39] mro commented on #111
the thumbnailer does work - you got bitten by https://github.com/shaarli/Shaarli/issues/111#issuecomment-76151435. Default as of today: no thumbnail! That's what you see.

[2015-03-09 08:41] mro commented on #157
nice idea. pull-requests welcome I suppose :-)

[2015-03-09 10:39] nodiscc commented on #157
Of course (not meaning it would be accepted, but it would be reviewed by volunteers). What point would you like to address?

[2015-03-09 14:48] nodiscc commented on #111
Pull Request at #153 is working. Please help rewiewing/testing/adding comments.

[2015-03-09 14:52] nodiscc commented on #71
Related https://github.com/shaarli/Shaarli/issues/130#issuecomment-77608227:

[2015-03-10 06:08] mrjovanovic commented on #157
I got your point. I started working on the issues you mentioned on the main theme (colors, menu, padding). Really appreciate the sound advice. Thanks.

[2015-03-10 11:00] mro commented on #144
I once used a pure client-side human-friendly date formatting via http://momentjs.com/. Server deals with ISO8601 only. Target locale could maybe sit in a cookie.

see here: http://rec.mro.name/stations/b2/2015/03/10/0605%20radioWelt.xml#date

[2015-03-10 13:49] nodiscc commented on #157
Ok. I'll close this bug as it was about unicode icons. It can be referenced later.

[2015-03-10 13:49] #157 closed

[2015-03-10 14:01] nicolasdanelon commented on #157
![60072520](https://cloud.githubusercontent.com/assets/2846046/6575754/789bd2e2-c710-11e4-8109-e1754a507035.jpg)

I agree with the idea of to be "retina friendly" but we can't add a font that got 1.000.000 icons if we'll use less than 10.

because of that I propose this two ideas :

### Option 1

What about the github.io error pages?

Example: http://nicolasdanelon.github.io/error-404

[code]
[cod

[2015-03-10 14:22] nicolasdanelon commented on #157
I got a friend who can add some style to this font awesome icons :) hes a Ubuntu-designer contributor
Here my "test-sprite"
http://nicolasmd.com.ar/dev/fa-shaarli.png
http://nicolasmd.com.ar/dev/fa-shaarli.svg

[2015-03-10 17:14] nodiscc commented on #71
https://github.com/shaarli/Shaarli/issues/130#issuecomment-77478489

[2015-03-10 17:41] nodiscc commented on #95
I get a lot of these errors using php-cs. What is expected/how to fix this?

` 120 | ERROR   | [ ] You must use "/**" style comments for a function comment`

There is no comment on line 120...

[2015-03-10 18:43] mrjovanovic commented on #157
@nicolasdanelon
You're absolutely right about FontAwesome being huge.

Option 1 makes sense for HiDPI displays, but doesn't work for people with poor eyesight. Icons don't size up with the text on zoom. This is a functionality issue. Yes, accessibiity support isn't great in Shaarli anyway, but why not come up with a solution that works for everyone?

This leaves option 2 or option 3. It seems like

[2015-03-10 18:44] nicolasdanelon commented on #95
@nodiscc you just run make ? or something else?

[2015-03-10 18:53] nicolasdanelon commented on #157
@mrjovanovic Shaarli does not have crazy styles or javascript/jquery effects. Is very a compatible ''system'' I think we can design a pair or svg-icons y create a simple png-fallback. Maybe using modernizr or something like that? @nodiscc

[2015-03-10 19:38] nodiscc commented on #157
A custom font using http://icomoon.io/app/#/select http://fontcustom.com/ http://fontello.com/ http://www.fontsquirrel.com/ or http://fontastic.me/ is possible and makes sense regarding bandwidth usage.

It is also possible to use sprites, whether png or svg. I had a branch that did exactly that, but I deleted it some time ago. The main advantage was that it reduced 1. total file size 2. number of

[2015-03-10 19:39] nodiscc commented on #95
[`code_sniffer_full`](https://github.com/shaarli/Shaarli/blob/master/Makefile#L41)

[2015-03-10 19:40] mrjovanovic commented on #157
OK, thanks for the answer. Will think about this more before opening any new issues re: icons.

[2015-03-10 20:09] virtualtam commented on #95
This warning points to the multi-line comment on lines 116-118, which may be associated by CodeSniffer with the function declaration at line 120:
[code]

which could be replaced by:
[code]

[2015-03-10 20:13] nicolasdanelon commented on #157
@mrjovanovic do you want to start a branch to work in this feature? if you want my help I'm here.

[2015-03-10 20:49] nodiscc commented on #95
Thanks @virtualtam, I will take care of these. Start small.

[2015-03-11 00:49] mrjovanovic commented on #106
This would be profoundly annoying, IMO. Plenty of users (me included) like to select different locales for different types of software. More often than not, their system locale is English, while the browser locale is different. What about using Shaarli on others'/public computers? It just seems like this choice would be better left to the user.

@virtualtam re: Daily page

This is a great idea.

@

[2015-03-11 01:04] virtualtam commented on #95
You're welcome :)

We can safely start with fixing:
* lines too long,
* comment formatting,
* indentation / extra of missing spaces / bracket stuff.

This will remove a lot of noise from the output of code checkers, and help spot more important issues.

_(Bonus section)_
Regarding comments, it could be neat to settle on a [Doxygen](http://www.stack.nl/~dimitri/doxygen/index.html)-like formatting (

[2015-03-11 01:17] virtualtam commented on #106
@mrjovanovic this looks like a really convenient feature!

we could start with a simple date filtering in PHP, and move to a fancier Javascript UI when Shaarli's codebase has become a bit more mature :)

[2015-03-11 01:22] nodiscc commented on #121
Another important question is, how do we select what language to display?

 * server locale
 * browser locale
 * configuration setting
 * let visitors choose

I'm in favor of a config setting.

[2015-03-11 01:33] nodiscc commented on #106
Forwarded to https://github.com/shaarli/Shaarli/issues/121, let's discuss there.

Yep, can you open another issue about this? The daily/weekly/monthly pages could be generated by date filtering system suggested by @virtualtam

I like the idea of doing it via a GET parameter in the first time. @mrjovanovic I like the look of your date picker, but this should be done using the plugin system. It adds

[2015-03-11 02:17] mrjovanovic commented on #121
Also vote for config setting, but default could perhaps go to server locale (I can see how that would be useful for deployment).

[2015-03-11 02:22] mrjovanovic opened #158 "Default theme cleanup"
I've been working on a cleanup of the default theme [here](https://github.com/mrjovanovic/Shaarli/tree/DefaultThemeRedesign).

The clean-up does several things:
* Resolves the issue of menus being all wonky on window resize.
* Styles the tags and thumbnails to match the style of input boxes and buttons. This also makes tags easier to read.
* Improves padding on links, making private and public lin

[2015-03-11 09:49] virtualtam opened #159 "Improve the Daily page"
Some ideas to improve the Daily view (from [#106](https://github.com/shaarli/Shaarli/issues/106#issuecomment-74980648)):

[2015-03-11 10:28] nodiscc opened #160 "Add weekly, and monthly views to the Daily page"
We may want to add date filtering to the main code for this, and use user-provided params for the date range, eg

[code]

[2015-03-11 10:30] nodiscc opened #161 "Add a date picker (calendar) in the Daily page"
Probably better to do this after https://github.com/shaarli/Shaarli/issues/160.

The calendar could allow picking a particular date, or a date range.

[2015-03-11 10:30] nodiscc commented on #159
Split in https://github.com/shaarli/Shaarli/issues/160 and https://github.com/shaarli/Shaarli/issues/161

[2015-03-11 10:30] #159 closed

[2015-03-11 10:41] nodiscc commented on #158
@mrjovanovic congrats, this is better than what we currently have. I'll rebase/squash your commits and submit a Pull Request. After that you can checkout my Pull Request branch and start working on top of it.

[2015-03-11 10:47] nodiscc commented on #158
Pull request at https://github.com/shaarli/Shaarli/pull/162

[2015-03-11 10:47] #158 closed

[2015-03-11 18:17] #46 closed

[2015-03-11 18:48] nodiscc opened #163 "Allow using third-party templates without overwriting Shaarli's default"
Users should be able to clone/unzip other templates into their `tpl/your-template-here` directories, and tell Shaarli to use them by setting the `RAINTPL_TPL` config variable to this path. This prevents breaking Shaarli's upgrade path, and allows users to upgrade templates to their latest version easily.

@ArthurHoaro has started something tending to this in https://github.com/shaarli/Shaarli/pull

[2015-03-11 19:04] nodiscc commented on #14
Clean Pull Request back at https://github.com/shaarli/Shaarli/pull/164

[2015-03-11 19:09] ArthurHoaro commented on #163
Then wouldn't it be simplier if we all keep our template set in our "Github space" and list them somewhere here?

[2015-03-11 19:23] nodiscc commented on #163
Yep you can close the PR as this issue is now open :)

I don't know.

You can still maintain your theme in your own repos, but just `git remote add organization git@github.com:shaarli/template-hoaro; git push organization master` and your new version is also synced here.

Having all these templates in the org would ensure we have a list of known, maintained, compatible templates, and in the long r

[2015-03-11 20:48] AkibaTech commented on #163
Good Idea! I'm in! :)

[2015-03-11 21:32] nodiscc commented on #163
@Vinm replied https://github.com/Vinm/Blue-theme-for-Shaarli/issues/2#issuecomment-78364265:

[2015-03-11 21:45] nodiscc commented on #163
@AkibaTech Well this is what we have to solve. The way I see it, the dir structure could be like
[code]

And we should do the same for the default template (mov `inc/*` to the `tpl/default/inc`). Just a quick thought. I may have missed something, please let me know.

[2015-03-11 22:02] AkibaTech commented on #163
Dooooooooone!!!!

https://github.com/AkibaTech/Shaarli---SuperHero-Theme/commit/abdbafb21d7f22594f498e1bf3528464cb9b3976

[2015-03-11 22:18] ArthurHoaro commented on #163
@AkibaTech You should also include jQuery since we're trying to get rid of it. And it might be done soon if #165 is merged.

@nodiscc

Yep that's probably better.

I agree for client side dependency (eg. not raintpl) and CSS. Except maybe `reset.css`. Also, images folder probably belong in theme folder.

[2015-03-11 22:28] AkibaTech commented on #163
All right.

Theme updated :)

[2015-03-11 22:28] nodiscc commented on #163
You're right! I updated the dir structure above ^ @AkibaTech think you could do this? Thanks for your quick reply, I'll start working on a new branch soon and test your template there. And yep, include everything you would need client side, including jQuery.

[2015-03-11 22:38] AkibaTech commented on #163
Know it :)

Branch "shaarli-template" is for this awesome upcoming feature.
Branch "master" is for current version as noticed in my readme :)

[2015-03-11 22:38] nodiscc commented on #71
A few things to check for:
 * Initialized but never used variables
 * Attemps to write outside `RAINTPL_TMP`, `DATADIR`, `CACHEDIR` and `PAGECACHE` should not pass tests (https://github.com/shaarli/Shaarli/issues/40)
 * @virtualtam More?

[2015-03-11 22:43] nodiscc commented on #163
When this is merged, docs should also be updated (eg. config settings may not apply to all templates, for example `SHOW_ATOM`, or any othe)

[2015-03-11 23:15] kalvn commented on #163
Interested as well, I will update my template tomorrow to fit this new structure.

[2015-03-11 23:28] virtualtam commented on #71
Some test-able points:
* the easy one:
 * default class constructors;
* the functional one:
 * database interactions;
 * reading, writing, transactions;
 * parallel access (if any; the Python sqlite3 module allows multi-threaded connections, for instance);
* the security one:
 * session handling;
 * authentication;
 * password bruteforce / IP blacklist;
 * XSS.

And the way more advanced stuff (fo

[2015-03-11 23:55] nodiscc commented on #71
Yep, please proceed! A well commented test script would help. It's still a bit unclear to me how/what to test.

[2015-03-12 10:18] kalvn commented on #163
It's done and available here: https://github.com/kalvn/shaarli-blocks/tree/shaarli-template

By the way, if you want to make it easy for people to build custom templates, you should really define some path variables in index.php (like the absolute URL to templates, or at least the absolute URL of the installation) and make them available in the template because I noticed that some head files are a

[2015-03-12 10:38] dhoko commented on #163
I'm in too. :clap:

I will create a new version soon (with flexbox). Rewrite the default HTML \o/

@ArthurHoaro

Reset.css does not have to come with Shaarli. Ex: some dev don't use it (ex: me), there are normalize etc. Dev must choose their one reset.

[2015-03-12 10:49] alexisju commented on #163
I'll do it soon also :)

[2015-03-12 13:13] nodiscc commented on #144
@ArthurHoaro @alexisju do you want to send a pull request to change date format handling (generate a timestamp in index.html, render it in template)? This should be done before work on https://github.com/shaarli/Shaarli/issues/163 is finished because it introduces changes to the templates (add date rendering code to them).

[2015-03-12 13:28] nodiscc commented on #44
Another bookmark sharing and management web app: https://github.com/plainmade/unmark / https://unmark.it/. Added to the wiki.

[2015-03-12 14:04] alexisju commented on #144
(I don't know how to do that... but it will be nice indeed

[2015-03-12 14:12] alexisju commented on #161
I implemented one into albinomouse.

You can try it cliking on the calendar icon on https://liens.effingo.be/?do=daily

But it's not perfect:
- if you choose a day without links, you don't have warning,...;
- its slowdown shaarli (it's why i implemented it only on the daily)

(and my code is ugly : loading to much js librairies)

[2015-03-12 14:23] alexisju commented on #159
About the default daily's template:
- Need to add editing and delete button on every links
- and search fields!

[2015-03-12 15:34] nodiscc commented on #163
@kalvn

You should never edit index.php directly. You should define `GLOBALS['config']['RAINTPL_TPL'] = "tpl/shaarli-blocks";` in `data/options.php`! So this already supprted (I suggest you update your readme).

index. php. should. never. be. touched. Else we lose the benefit of having "modular" templates. `data/options.php` overrides existing options.

[2015-03-12 15:36] nodiscc opened #166 "Distribute a default data/options.dist.php"
`data/options.dist.php` should contain a copy of all configurable settings (those listed in index.php) and their defaults. Anytime, if `data/options.php` doesn't exist, recreate it by copying `data/options.dist.php -> data/options.php`.

This prevents temptation to edit index.php directly and presents all available options to users directly in the config file.

[2015-03-12 16:48] kalvn commented on #163
Correct me if I'm wrong but the option file is required in the index.php *after* the initialization of raintpl. I didn't test but we define the directory to use during this init, it may be a problem no ?

[2015-03-12 19:30] ArthurHoaro commented on #144
I'll try do something about it.

[2015-03-12 19:52] nodiscc commented on #148
Forwarded from https://github.com/shaarli/Shaarli/pull/165

[2015-03-12 20:14] nodiscc commented on #148
One more thing to investigate: How are the suggestions sorted? Is this part of the awesomplete logic, or are they show in the order they are listed in the `datalist` ? Eg if I enter the characters `ss` in the tag entry field, I get these suggestions in this order:

[code]

I'd expect to have words _starting_ with my input to show first in the list (in this case `ssh` and `ssl`)

[2015-03-12 20:17] ArthurHoaro commented on #144
I don't know for you guys, but `autoLocale()` doesn't work at all. My browser (firefox, Fedora) sends `fr,en-us` in header request and neither are valid parameter for [setlocale](http://php.net/setlocale). I'll work on that first.

[2015-03-12 22:03] ArthurHoaro commented on #148
They're sorted by length. We can't add a function setting for sorting, but it only allows us to sort items between each other without getting the user input (as far as I can understand JavaScript). I believe we need to open an issue on awesomplete repo and/or work on it ourself.

[2015-03-12 22:09] ArthurHoaro commented on #148
About using Tab and right arrow to select an item, it's also dependent to the lib but we can change that easily [here](https://github.com/LeaVerou/awesomplete/blob/gh-pages/awesomplete.js#L70) and send a PR to add it in awesomplete settings.

[2015-03-13 11:54] nodiscc commented on #44
I've updated the [milestones](https://github.com/shaarli/Shaarli/milestones). Feedback welcome. [0.0.44beta](https://github.com/shaarli/Shaarli/milestones/0.0.44beta) will be released on Sunday after merging these patches.

[2015-03-13 15:32] ArthurHoaro commented on #44
I think template support should be set before 1.0 milestone since it's an important change. Also I don't really see why #143 is in milestone 1.0 while most other minor (priority) improvements are in 1.1. But overall, that's great!

[2015-03-13 16:31] nodiscc commented on #44
You're right. Edited milestones.

[2015-03-15 13:27] #149 closed

[2015-03-15 13:37] nodiscc commented on #44
[0.0.44beta released](https://github.com/shaarli/Shaarli/releases/tag/v0.0.44beta). Again, thanks to you all.

[2015-03-15 18:07] alexisju commented on #163
Albinomouse available as template : https://github.com/alexisju/albinomouse-template

[2015-03-16 03:34] nicolasdanelon opened #171 "encondig issues in 'search' & 'fiter by tag' buttons"
Hi guys I think that [here](https://github.com/shaarli/Shaarli/blob/master/tpl/linklist.html#L8) we need to use HTML entities or something like that.. I just pull the current shaarli version and have this issue. See screenshot attached :

![screenshot from 2015-03-16 00 31 24](https://cloud.githubusercontent.com/assets/2846046/6660230/ce2c0634-cb73-11e4-8abc-a6b07b565918.png)

[2015-03-16 04:04] nicolasdanelon commented on #171
the issue seems to be only in linux... font-family problem?

![windows](https://cloud.githubusercontent.com/assets/2846046/6660461/44b69676-cb78-11e4-8efb-a4de122025a2.png)

[2015-03-16 10:04] pikzen commented on #171
Font family indeed. The glyph is hardcoded in https://github.com/shaarli/Shaarli/blob/master/tpl/linklist.html#L9 . Any font not having this glyph will not display it.

[2015-03-16 11:29] nicolasdanelon commented on #171
confirming......
yup!
we need to roll back to text inputs

[2015-03-16 11:43] nodiscc commented on #171
Sorry this is my whole fault :/ I changed the button title to an uncode character in https://github.com/shaarli/Shaarli/pull/167. I had tested availability of this glyph on some OSs, not enough, apparently. I'll roll back this change and do a bugfix release.

@mrjovanovic It might interest you. Here's the problem with unicode symbols instead of icons.

[2015-03-16 11:47] nicolasdanelon commented on #171
Can I change it ? And add open sans fonts in my pull request?
On Mar 16, 2015 8:43 AM, "nodiscc" <notifications@github.com> wrote:

[2015-03-16 11:49] nodiscc commented on #171
@nicolasdanelon Let's revert it in the first time. I'll do that today. Another PR that changes icons to Unicode symbols + open sans can be opened.

[2015-03-16 15:19] nodiscc commented on #171
Fixed in https://github.com/shaarli/Shaarli/commit/c981b4d19cea6ee8001ba80e1d7e47cd3d2f7ff6 and https://github.com/shaarli/Shaarli/commit/5b2a7cfe0f12b373fc0bf55c1e22413632f57b4d

[2015-03-16 15:19] #171 closed

[2015-03-16 15:21] nodiscc commented on #44
[0.0.45beta released](https://github.com/shaarli/Shaarli/releases), fixes 2 small bugs.

[2015-03-16 18:57] mrjovanovic commented on #171
Hm, that's interesting. @nicolasdanelon what distro/default fonts are that, if I may ask?

[2015-03-16 19:31] mrjovanovic opened #173 "Links per page as a submenu (please test)"
So in an ongoing effort to remove clutter from the front page of shaarli, I implemented the links per page as a submenu here. Some advantages to this approach.

* Tries not to break existing themes, they all should theme and work fine with it.
* Has thumb-friendly buttons in mobile mode (see screenshot)
* Makes front page cleaner
* Gets rid of weird cutoff to the input field in Chrome (see screens

[2015-03-16 19:53] fturco commented on #171
I have this problem with Shaarli 0.0.44beta. I haven't upgraded to latest version yet. As a workaround I installed the Symbola fonts (package "ttf-symbola" under Parabola/ArchLinux).

[2015-03-16 21:07] virtualtam commented on #71
Hi!

I've started a [dev-branch](https://github.com/virtualtam/Shaarli/tree/test/link-db), so you'll be able to get a glimpse of the test-writing process :)

Some insights so far:
* I haven't been able to load classes from `index.php` (using either `include` or `require`), so `linkdb` has been moved to `application/LinkDB.php`;
* there seems to be no strict PHP guideline on where to put classes, s

[2015-03-17 09:10] kalvn commented on #163
I finally moved mine on the the master branch as the last release of Shaarli handles the `options` file: https://github.com/kalvn/shaarli-blocks

I also created a new theme with Material Design guidelines and also offered an installation for Shaarli 0.0.44 and above: https://github.com/kalvn/Shaarli-Material

[2015-03-18 00:28] nodiscc commented on #95
This one has become low priority for me (less time, reprioritizing issues). Anyone is free to work on it and submit a pull request (even small, partial fixes accepted)

[2015-03-18 00:39] nodiscc commented on #148
Issue fixed thanks to @ArthurHoaro. Remaining points (sorting, using another key such as Tab) can be discussed in new issues if it proves really annoying in the long term. Let's go with the defaults and see how it goes.

[2015-03-18 00:39] #148 closed

[2015-03-18 00:40] nodiscc commented on #49
Should be easy to fix since the new autocompletion library is now live.

[2015-03-18 00:42] nodiscc commented on #106
Let's triage the remaining list items before 0.9beta. Comments welcome

[2015-03-18 00:43] nodiscc commented on #4
Closing this as the planned versioning is now detailed in [milestones](https://github.com/shaarli/Shaarli/milestones)

[2015-03-18 00:43] #4 closed

[2015-03-18 00:46] nodiscc commented on #57
This is part of https://github.com/shaarli/Shaarli/pull/164. Please help reviewing the Pull Request, taking ideas in https://github.com/shaarli/Shaarli/issues/14 and https://github.com/shaarli/Shaarli/issues/106 into account so we can anticipate what's needed for a useful plugin system.

[2015-03-18 00:46] #57 closed

[2015-03-18 00:50] nodiscc commented on #102
This should be reported to https://bugzilla.mozilla.org/show_bug.cgi?id=416611 as someone at Mozilla is working on import with tags. Let's ask if we can do something to improve compatibility, provided that:

 * We are still able to import from Delicious and legacy Shaarli exports
 * We are still able to store self-posts (`HREF="?6SIQOA`) in the export, and import them back.

[2015-03-18 14:41] nodiscc commented on #163
@kalvn great work! Thanks for your time, I'll look into this in the coming days (short on time right now).

Another thing to consider when we will push the changes for 3rd party templates support (mainly changing the dir structure) is to know whether your templates will support plugins (eg. I see you're using the QR code library, but it is planned to make it optional/pluggable) and where we will p

[2015-03-18 14:54] kalvn commented on #143
I think it would require indeed a visual feedback (like a gray or semi-transparent background to show that it hasn't been reviewed yet). But most of all it would require a specific page to show all "to-read-later" links. And maybe a way to quickly review them so they are added with regular links.

[2015-03-18 15:06] nodiscc commented on #143
In the first time I think we can:

 * Add a bookmarklet `✚Read later` to the tools page.
 * When clicked, this bookmarklet opens a small Shaarli window, saves the link as private with a specific tag (let's hardcode `readlater` first), displays `Link saved in your read later list!`, and autocloses after 2s.
 * Explain how to access the readlater list in the tools page (basically just a link to `?se

[2015-03-18 15:25] nodiscc commented on #111
Should we move this to the 0.9beta milestone? The generic thumbnailer is working, with a few exceptions (see https://github.com/shaarli/Shaarli/pull/153). We could start by whitelisting only a bunch of known working sites and merging this for 0.9beta; then fixing the regex and allowing users to select `Generate thumbnails for all domains` in the prefs for 1.1.

Ok?

[2015-03-18 21:13] mrjovanovic commented on #173
I forgot to add - the submenu could potentially have the option of filtering links from a specific date range, without cluttering the front page.

This was referenced in #106.

[2015-03-18 21:23] mrjovanovic opened #174 "Proposal to refactor Tools menu"
I feel that the current state of the tools menu is strange - it requires clicking and then opening up new pages for just one or two input fields.

I have made a mockup of the potential redesign of the tools section. What do you think?

Default appearance:
![g5076](https://cloud.githubusercontent.com/assets/4664783/6719685/59cb85b2-cd8a-11e4-851a-a32c82a3eb67.png)

Field changes on action/input:
![

[2015-03-18 21:27] nodiscc commented on #173
I did not have time to test this yet, just some impressions after looking at the screenshots:

 * I like it
 * Could the current setting be displayed next to "Links per page" (when the menu is folded)?
 * Padding in mobile mode is too damn huge
 * Befor you submit a PR, please base your changes on the current master (you can safely drop your `DefaultThemeRedesign` branch, previous commits were mer

[2015-03-18 21:35] mrjovanovic commented on #173
OK, cool, thanks for the lesson. :)

I tested the padding in mobile with my thumb, that's why it looks like that. I could easily reduce it a bit if you think that makes sense.

[2015-03-18 21:42] nodiscc commented on #173
Well I didn't think about thumb-sized buttons, that makes sense, please keep it.
Congrats for doing it with only CSS. If you submit a patch with these changes I'd be ok with merging it (even though I'd like feedback from other contributors/users)

[2015-03-18 23:10] mro commented on #111
what the remaining issues?

[2015-03-18 23:49] nodiscc commented on #111
Regexes failing loudly for some links (https://github.com/shaarli/Shaarli/pull/153#issuecomment-78573468), `alt` text still displayed (https://imgur.com/YtiJhbW)

[2015-03-19 00:14] mro commented on #111
you applied https://github.com/shaarli/Shaarli/pull/153#issuecomment-78706017 and still get the same errors?

[2015-03-22 16:35] alexisju commented on #136
I still have some dirty url with latest version of Shaarli. You can test these url :

http://example.com/titre-article/?fb=kr
http://example.com/titre-article_4544726_4222996.html#R4TsyA3xDemTTXI5.99
http://example.com/titre-article-62225?xtor=EPR-511537822
http://example.com/titre-article#utm_source=wri&utm_content=article
http://example.com/?utm_source=iceranking&amp%253butm_medium=link
http://e

[2015-03-22 23:59] nodiscc commented on #136
@alexisju Where is this from? Can you send an actual URL with these params (`?fb,  &link_time`) We need to know what purpose these parameters serve, to know if we should consider them as "annoying"/useless. We don't want to break services that really depend on them to work properly. I think `?xtor

Yes. `?utm_content` and ?xtor` can be safely removed. If you can edit https://github.com/shaarli/Sha

[2015-03-23 08:35] alexisju commented on #136
"Real" situation I met :
http://www.dailydot.com/opinion/edward-snowden-mass-surveillance-nsa-america/?fb=kr
http://www.lemonde.fr/pixels/article/2015/03/18/disparition-mysterieuse-d-evolution-le-plus-grand-supermarche-de-la-drogue-en-ligne_4595726_4408996.html#R4TsyA3xDemTTXI5.99
http://www.liberation.fr/societe/2015/03/06/treize-raisons-de-lacher-le-steak-barbare_1215727?utm_source=Twitter&utm_c

[2015-03-23 10:53] nodiscc commented on #174
@mrjovanovic cool, I'd like having all the settings on a single page. Just note that it shouldn't depend on javascript to work properly. I suggest moving all config settings and tools directly on the `?do=tools` in the first time. A few notes about your mockups:

 * keep the original styles for now
 * separate import and export sections
 * keep 2 fields for the tag rename functionality (as it is n

[2015-03-23 10:55] nodiscc commented on #111
No sorry, I didn't read your message properly. I'll do what you suggest and try again.

[2015-03-23 10:56] #111 closed

[2015-03-23 23:36] kalvn commented on #174
I like fact of having everything in one place but we need to ensure it doesn't become messy.

For example I don't think that a 2-columns display is wise here.

And each section must be quickly indentifiable and clearly separated from the rest (with a visual separator or with enough margin/padding).

[2015-03-24 00:01] nodiscc commented on #174
I agree about padding/separators.

About a 2-column layout, what do you suggest? We could keep a single column, but

 * you may would have to scroll (ie. you can't see all settings at once)
 * single column wastes screen space on desktop screens.

![wastedspace](https://cloud.githubusercontent.com/assets/3950390/6793155/0808017a-d1c1-11e4-8872-f98af9e1e43a.png)

A responsive 2 column layout may wo

[2015-03-24 00:28] mrjovanovic commented on #174
@kalvn
Good point about lines as separators, I'll think that would help keep visual distinction. I can definitely include those.

As for the two-column layout - I do feel that a single-column is just incredibly wasteful on a desktop screen. My idea was to switch to single-column on mobile screens (currently set as screens below 480px). Could you maybe point out what you feel doesn't work in the tw

[2015-03-24 00:49] nodiscc commented on #136
Thanks for your research.

Just to be clear, we will clean `?utm_content`, `?xtor` and `?fb` parameters but _not_ `#utm_source` or `&amp%253butm_medium=link`. These are website-specific bugs:

 * The first link is supposed to have a `?utm_source` URL parameter, but it was inserted as an anchor. fail. Note that it's a SEO site...
 * The last one results from a double-triple-fail at URL-encoding (ht

[2015-03-24 11:36] kalvn opened #175 "Missing permalink page title when logged in"
As NerosTie noticed [here](https://github.com/kalvn/Shaarli-Material/issues/2), when displaying a permalink, the page title (title tag of the head of the html document) is correct when you are not logged in, but if you are, the title is not correct.

[2015-03-24 11:44] kalvn commented on #174
I agree for the waste of space but it's really easier to read a document which isn't too large. Take Github website for example, its width is limited and it improves readability. It's especially true for text content but I think it may apply also here.

But it's a personal feeling and I perfectly understand that other people may think differently. I just wanted to give my opinion on this point :)

[2015-03-24 17:45] alexisju commented on #175
:+1:

[2015-03-24 19:57] alexisju commented on #44
Dans le linklist, pour l'affichage de l'url d'une note, ce ne serait pas mieux que ce soit une url absolue qui soit affichée? Ca me pertube un peu de n'avoir qu'un morceau d'url affichée entre les balises <a> et </a>

[2015-03-24 21:51] nodiscc commented on #174
Using javascript is ok, but ideally Shaarli should degrade gracefully when it's not enabled. What item  would you like to implement in JS on this page? Critical functions like password change or link export should work even without javascript. It also depends on whether or not it introduces dependencies on large JS libs (we just got rid of jQuery, yay).

As long as there are separators this should

[2015-03-24 21:59] nodiscc commented on #44
On pourrait, oui. J'aime l'idée de n'afficher que des URLs absolues. On pourrait aussi passer ces URLs en absolues dans les exports HTML, ça réglerait peut être https://github.com/shaarli/Shaarli/issues/102

Par contre je pense qu'il faut un petit indicateur pour différencier visuellement les notes des liens, comme ![](http://p.yusukekamiyamane.com/icons/search/fugue/icons/sticky-note.png) à côté

[2015-03-25 08:44] alexisju commented on #44
Pour moi, c'est surtout une question d'affichage de l'url. Du point de vue de l'utilisateur _?uyhDa_ ça ne veut rien dire. Mais il faut faire attention à garder la portabilité des données (pour les exports, sauvergardes et migration). Si ce sont des url asbolues qui sont enregistrées, ça risque de pauser problème.

[2015-03-25 11:57] alexisju opened #176 "Add opensearch functionality"
I just implemented opensearch plugins (by terms or by tags) into AlbinoMouse template but  it could be nice to add this functionnality by default.

It could also be better to generate xml file with index.php instead oh my hack (with shaarli's name instead url...).

But the way i use for AlbinoMouse is pretty functionnal and don't need user customisation to work.

Look at https://github.com/alexisj

[2015-03-25 12:01] nodiscc opened #177 "Display Notes URLs as absolute in the linklist"
`<span class=linkurl` should show Notes permalinks as absolute URLs.

A marker like ![](https://camo.githubusercontent.com/499598b48f22fee0fafaebcac55bc4bda0611c9e/687474703a2f2f702e797573756b656b616d6979616d616e652e636f6d2f69636f6e732f7365617263682f66756775652f69636f6e732f737469636b792d6e6f74652e706e67) or ![](https://camo.githubusercontent.com/7ec532818d4bef0dfd4cef6c13ea86f8268d2433/687474703a2

[2015-03-25 12:07] nodiscc commented on #176
Yes, let's do this, I see you use PHP to generate the `template` URL, so we may also use PHP to [generate the http/https protocol prefix](https://github.com/sebsauvage/MinigalNano/blob/master/rss.php#L6)

[2015-03-25 15:31] alexisju commented on #176
https/http and path fixed in https://github.com/alexisju/albinomouse-template/commit/610bfc9d9b443637dbde98390b9b380d82ae586b

(but this code is a but uggly : it will be better to use shaarli's functions for that)

[2015-03-25 23:25] alexisju commented on #44
Bug? Je remarque que le lien vers la doc ne se charge pas à tous les coups.
Par exemple chez moi https://liens.effingo.be/doc/index.html#!Home.md ne fonctionne pas
alors que https://effingo.be/liens/doc/index.html#!Home.md fonctionne

J'ai vu ça aussi sur d'autres sites également.

Par ailleurs, est-ce vraiment nécessaire d'inclure toute l'aide dans l'archive?
Ca disperse l'information et rend ces

[2015-03-26 11:34] nodiscc commented on #44
En effet; je ne sais pas pourquoi, c'est sûrement dû à mdwiki. La console de Firefox me renvoie `Syntax error` quelque part. Mdwiki fait le rendu du markdown en JS dans le navigateur, c'était pratique et rapide mais sans doute pas le plus propre. On peut utiliser pandoc à la place pour générer du HTML statique: `pandoc -f markdown_github -t html5 -s -c "$(dirname $0)/github-markdown.css" -o `basen

[2015-03-26 11:36] nodiscc opened #178 "Use pandoc to generate HTML documentation"
Drop mdwiki and add pandoc to the Makefile: ` pandoc -f markdown_github -t html5 -s -c "$(dirname $0)/github-markdown.css" -obasename $markdownfile .md.html "$markdownfile".`

Discussed at https://github.com/shaarli/Shaarli/issues/44#issuecomment-86251027. Mdwiki sometimes breaks and we shouldn't rely on the client to render the doc.

[2015-03-26 11:48] nodiscc commented on #176
:+1:

If someone wants to make a Pull Request for that, I'm very ok (short on time these days)

[2015-03-27 06:01] nodiscc commented on #163
misterair replied: https://github.com/misterair/limonade/issues/7#issuecomment-86743026

[2015-03-27 21:38] ArthurHoaro commented on #177
Well, it's not that easy. Notes are currently saved as relative URLs (see line [1697](https://github.com/shaarli/Shaarli/blob/master/index.php#L1697)). We can change this behaviour but it won't change previous shaared notes.

In Projet-Autoblog we did this : https://github.com/mitsukarenai/Projet-Autoblog/blob/master/index.php#L100. I'm not sure it's 100% reliable (the return folder param doesn't

[2015-03-27 22:18] nodiscc commented on #176
@alexisju there are already https and path detection functions in SHaarli: `serverUrl()` and `indexUrl()`: https://github.com/shaarli/Shaarli/blob/master/index.php#L482

Can you use these functions in your script?

[2015-03-27 22:20] nodiscc commented on #177
This is just about display, we can keep storing relative urls in the datastore. If an url is a permalink, display it like `indexUrl() . $url` (absolute url) in the linklist.

But it may mean running `if {preg_match()` on all links to determine if an url is a permalink before display. I'm not sure this is a good idea performance-wise.

[2015-03-28 15:26] alexisju commented on #177
Maybe is it possible to do the same rss links works (and generate absolute url from a relative stored url?)

Actually is not just a design question, but also for future 3rd party plugins : for example in albinomouse my hack to share links on social media or by mail works fine.. except for notes (because relative link).

[2015-03-29 15:12] pikzen opened #179 "Doc can't be entirely pulled on Windows."
NTFS (or Explorer depending on what Microsoft was thinking) does not support double quotes (") in filenames.

This conflicts with `doc\Mentions-of-Shaarli-in-"the-press".md`. Git then attempts to pull `"doc\Mentions-of-Shaarli-in-\"the-press\".md"`, and the file is nowhere to be found.

Fix: don't use quotes in slugs. Actually, don't use any special characters in slugs because they serve no purpos

[2015-03-29 15:35] pikzen commented on #177
We could run ten thousand preg_matches per page render and it would barely affect performance. Unless you're running Shaarli on a 8086.

Also, there's no need for preg_match(), just checking if the link starts with ? and is 7 chars long is more than enough. Just writing http:// is already 7 chars long so there's no way to go wrong. PR #180 fixes that.

[2015-03-30 00:05] nodiscc commented on #179
Interesting. Anyway I deleted the mentioned page. There are too many mentions of le Shaarli on le Internet to count.

[2015-03-30 00:05] #179 closed

[2015-03-30 00:09] nodiscc commented on #163
Attention, you can no longer use `$link.localdate` when I merge https://github.com/shaarli/Shaarli/pull/169 (this week :) ), you have to do date formatting inside your template. You can use `function="strftime('%c', $link.timestamp)"` instead

[2015-03-30 07:12] alexisju commented on #163
ok

[2015-03-30 15:08] NerosTie opened #181 "Add Disqus or Isso comments box on a permalink page"
It could be very great to have a comments box on permalink pages.
Major improvment: you can chat! Instead of chatting via multiple "shaarli river" instances.

I'm trying to add this in shaarli for isso:

[code]

But I have no idea how "pages" work in shaarli.
Can you help me please?

http://posativ.org/isso/

(I think issue #175 must be fixed to work well, because Isso needs the title)

[2015-03-30 15:34] nodiscc commented on #181
Hi, this is similar to previously requested "comment systems". It was decided that Shaarli could include external comments systems through plugins: have a look at the pull request https://github.com/shaarli/Shaarli/pull/164. It's not merged yet, but it provides a way to add custom elements to Shaarli's template.

Basically, using this branch, you can:

 * add `<script data-isso="//sub.mydomain.tld

[2015-03-30 16:23] NerosTie commented on #181
Thanks! I will wait the merge of #164 and I will try again.

[2015-03-31 18:51] nodiscc commented on #154
### Contributing code

#### Adding your own changes

 * Pick or open an issue
 * Fork the Shaarli repository on github
 * `git clone`  your fork
 * starting from branch ` master`, switch to a new branch (eg. `git checkout -b my-awesome-feature`)
 * edit the required files (from the Github web interface or your text editor)
 * add and commit your changes with a meaningful commit message (eg `Cool n

[2015-04-01 07:31] alexisju opened #182 "Date of daily/dailyrss still hard formatted"
Even with https://github.com/shaarli/Shaarli/commit/bec18701801cc140d760c261dd115fda1507a0dd (Define date format in templates), date title of daily.html and dailyrss.html still hard formatted into the index.php

    $daydate = utf8_encode(strftime('%A %d, %B %Y',linkdate2timestamp($day.'_000000'))); // Full text date
    $PAGE->assign('day',utf8_encode(strftime('%A %d, %B %Y',linkdate2timestamp($d

[2015-04-01 09:22] nodiscc commented on #177
https://github.com/shaarli/Shaarli/commit/a5752e776c9ee5ee5a711a76e8c8066ee88f7192 has mistakenly reverted this change...

[2015-04-01 09:30] pikzen commented on #177
I'll pull the most recent changes and update the PR, hold on.

[2015-04-01 10:49] alexisju opened #184 "Autolocate doesn't work anymore?"
I don't find this commit https://github.com/shaarli/Shaarli/commit/880cbf92ca0ee87a4b10a0621e44aa70d019aff7 in latest version of index.php

Autolocate doesn't work anymore for me.

[2015-04-01 19:14] nodiscc commented on #184
Thanks for reporting it. This code was also nuked in the bogus merge commit https://github.com/shaarli/Shaarli/commit/d3b2b456e174a7a4de67bf39460749cc35a6e382. Sorry for the inconvenience, I don't know what went wrong. I'll fix this soon, patches are also welcome.

[2015-04-01 19:22] nodiscc commented on #173
@mrjovanovic do you have a patch to propose for this? no hurry take your time

[2015-04-01 19:26] nodiscc commented on #136
I don't have much time these days, patches from the community welcome (it's easy, add these params to https://github.com/shaarli/Shaarli/blob/master/index.php#L1639 , `$annoyingpatterns` array)

[2015-04-01 19:30] nodiscc opened #185 ""Clear cache" button in tools"
Add a button allowing to clear `RAINTPL_TMP`, `CACHEDIR` and `PAGECACHE` contents in the tools dialog.

May be a decent workaround for https://github.com/shaarli/Shaarli/issues/127

[2015-04-01 19:31] nodiscc commented on #177
Fixed.

[2015-04-01 19:31] #177 closed

[2015-04-01 19:33] nodiscc commented on #144
Fixed in https://github.com/shaarli/Shaarli/commit/bec18701801cc140d760c261dd115fda1507a0dd (and 3 next commits...)

[2015-04-01 19:33] #144 closed

[2015-04-02 19:00] nodiscc commented on #181
@NerosTie I've read the isso doc and this should be doable, check https://github.com/nodiscc/Shaarli/blob/new-plugin-system/tpl/plugins/TODO.md. You would have to first click a permalink to see comments on this article. The linklist would only show a `0 comments`, `15 comments` counter for each shaarlink (no full comments threads in the linklist, only in permalink view)

[2015-04-03 18:23] mrjovanovic commented on #173
Well the branch is here ... https://github.com/mrjovanovic/Shaarli/tree/linksperpage-submenu

I don't have much time now, but I would like to figure out how to show the current settings next to the `Links per page ▼` text. This is also missing from the current version anyway. I am not sure where to start, I'd probably have to learn some things I don't know yet.. :)

[2015-04-04 01:27] nodiscc opened #186 ""sticky" posts"
add the ability to mark posts as "sticky", always displayed on top of the first page

[2015-04-04 01:57] nodiscc opened #187 "set search/tags fields tabindex to 1/2"
http://stackoverflow.com/a/1484978

[2015-04-04 02:00] nicolasdanelon commented on #186
+1

[2015-04-04 02:02] nicolasdanelon commented on #187
Q: what if we add [modernizr](http://modernizr.com/docs/) for HTML5 better support?
We can use autofocus without the javascript code in that stackoverflow link and use modernizr will help us with SVG detecting if browser supports or not SVG images ;)

[2015-04-04 02:14] nodiscc opened #188 "Option to hide **all** links to non-logged in users"
In config, add an option to make the Shaarli private: The Shaarli will not show any link, except if you are logged in. (This can also be used to temporarly “close” a shaarli).

From https://github.com/shaarli/Shaarli/issues/106

[2015-04-04 02:17] nodiscc commented on #187
There's no javascript required http://www.w3schools.com/tags/att_input_autofocus.asp `<input type="text" id="searchform_value" name="searchterm" placeholder="Search text" value="" autofocus>`

[2015-04-04 02:18] nicolasdanelon commented on #187
Yes... I know but I'm talking about old browsers :)

[2015-04-05 15:16] dimtion commented on #188
Would it discard the effect of "private" check box or just force to post private posts only ? Both implementations have pros and cons but the first one seems more secure.

[2015-04-05 16:52] nodiscc commented on #188
It discards the effect of the private/public status of links. While this option is enabled and the user is logged out, all links are hidden, disregarding if they are public or private.

[2015-04-05 20:05] #184 closed

[2015-04-05 20:05] nodiscc commented on #184
It should be fixed.

[2015-04-06 10:52] alexisju opened #193 "Bad special characters are displayed into date in french"
With autolocate fixed by https://github.com/shaarli/Shaarli/commit/8438a2e5d0cb90a869d67516c6e6cf756f77a588 special caracters seems encoded in bad format.

In french i get : d�cembre / f�vrier

Check this monthes (february/december) on https://liens.effingo.be/?page=8

[2015-04-06 12:51] nodiscc commented on #193
I can't test this. dates are always displayed in english on my browsers, and setting `Accept-Language` to `fr` doesn't change it. @ArthurHoaro, ping. Do you have this problem?

[2015-04-06 12:55] nodiscc commented on #143
The pull request https://github.com/shaarli/Shaarli/issues/192 works but I'd like to move this to a plugin. Blocked by https://github.com/shaarli/Shaarli/issues/14

[2015-04-06 12:57] nodiscc commented on #14
Blocked by https://github.com/shaarli/Shaarli/issues/163

[2015-04-06 17:00] alexisju commented on #193
You can browse my shaarli and loof after links posted in december or february ;-)

[2015-04-06 17:57] nodiscc commented on #193
@alexisju dates are always displayed in english for me, even on your Shaarli.

[2015-04-07 19:19] alexisju commented on #193
Its possible to change easily prefered content languages into browsers if you want...
(with firefox : preference > content > languages : choose )

[2015-04-07 21:13] NerosTie opened #194 "Citations in italic"
Usually, when I add a link to my shaarli, I cite the head of the article or something else on the page to know what it's about.
But some peole think it's a personnal thought and they are confused.

I propose to add the possibility to mark a citation in italic. Maybe with a button or manually.
And for the bookmark: a selection is a citation.

[2015-04-07 21:14] NerosTie commented on #188
I agree with @nodiscc, this is a needed feature.

[2015-04-08 03:25] rubykat commented on #173
I definitely agree that showing the current setting of links-per-page is a wanted feature for this.

[2015-04-08 04:16] mrjovanovic commented on #173
I understand, that makes sense, but I would like to note that the
current implementation also doesn't show the current setting of
links-per-page.

Any suggestions how I could go about doing this? I looked through the
PHP stuff and there is a LINKS_PER_PAGE variable, but doing something
like `<?php echo $LINKS_PER_PAGE; ?>` does nothing in the HTML.

I probably have no idea what I'm doing, so could

[2015-04-08 04:45] ArthurHoaro commented on #193
Confirmed.

[2015-04-08 06:04] nodiscc commented on #193
(with firefox : preference > content > languages : choose )

This has no effect for me.

Thanks, looking at your patch soon

[2015-04-08 06:09] nodiscc commented on #194
Formatting descriptions with markdown has been suggested on gitter. This would be a plugin; all descriptions in plain text, **or** enable the plugin and all descriptions are parsed in markdown -> HTML. Would this solve your problem?

In the mean time you can use quotation marks “ like this ”

[2015-04-08 10:43] alexisju commented on #194
Introduce markdown into shaarlis will be so great  :-)

[2015-04-08 10:52] NerosTie commented on #194
I don't know if markdown will solve this problem. Markdown is more for a blog plateform, what shaarli is not.
If I cite a text with hashtags, or other things md uses, it will be hell.

Yes, I can use marks " " but it adds more steps. Plus, on Android, I don't want to spend 5 minutes to add quotes... Is it possible to do this automatically with the bookmark link? It could be a start.

[2015-04-08 11:40] alexisju commented on #194
Markdown is not just for blogs, it is also used into diaspora for example. A markdown plugin will be more flexible and powerfull for different usage (italic as you want, but also to make bullets list, bold characters, etc...). Adding a new field for citation in italic is not more easy and will break the shaarli "standard" (far example shaarli rivers by rss (like shaarli.fr) wont work anymore)...

[2015-04-08 14:47] iGormilhit commented on #194
And on GitHub, even in comments like here.

I also miss the possibilty to format text &ndash; with markdown &ndash;, not only for quotation marks. But I also think using MD isn't the solution. If it's too much work to add some " at the begining and the end of one's copy and paste, it is to much work to format, markdown or not.

And at the end, markdown is plain text, and human readable : [example]

[2015-04-09 12:04] nodiscc commented on #194
Markdown rendering of comments would be a plugin, so, optional.
It could also be done by allowing HTML in descriptions (another plugin).
There is little interest in adding a single _italic_ styling.
If using “”  is painful, you can edit your bookmarklet to auto-add them to the description (I wouldn't add it by default because not everything is a citation), or you can use `>` at the beginning of a

[2015-04-09 12:16] NerosTie commented on #194
@nodiscc Edit the bookmark, why not. I want to give it a try. But, really, I don't know how to do it.
I didnt think of using `>`, it's better. It changes nothing for sites like shaarli.fr or "rivers" and it will be in italic on my website when markdown will be here.
After all, ok for markdown!

Do you know how to add `>` to the bookmark if a text is selected?

[2015-04-09 13:22] nodiscc commented on #194
Try this boomarklet:

`javascript:javascript:(function(){var%20url%20=%20location.href;var%20title%20=%20document.title%20||%20url;window.open('https://your.shaarli.server/url/?post='%20+%20encodeURIComponent(url)+'&title='%20+%20encodeURIComponent(title)+'&description=%3E'%20+%20encodeURIComponent(document.getSelection())+'&source=bookmarklet','_blank','menubar=no,height=390,width=600,toolbar=no,

[2015-04-09 13:31] NerosTie commented on #194
It works, thank you!

Is it possible to add the `>` only if the text from the website is selected? If nothing is selected, left the description blank. (the bookmarket add the text to the description if it's selected before, so why not?).

[2015-04-09 13:33] NerosTie opened #196 "Bookmarklet doesn't work on some sites"
If I want to share a link from github using the bookmark, nothing happen. It works well everywhere else.

[2015-04-09 15:42] pikzen commented on #194
[code]

[2015-04-09 15:51] pikzen commented on #196
GitHub activated CSP (Content Security Policy) a while ago now, every browser basically breaks javascript: URIs when CSP is on. See https://github.com/blog/1477-content-security-policy ,section Shortcomings.

Workaround (Firefox): go to about:config, set security.csp.enable to false. Do not do that.

[2015-04-09 16:18] pikzen commented on #187
Modernizr doesn't implement autofocus though. It merely declares it, but nothing is done with it. Last mention I've seen of it is a 2009 issue.

[2015-04-09 16:19] pikzen commented on #188
See #197

[2015-04-09 16:37] NerosTie commented on #194
@pikzen Perfect! Thank you :smile:

[2015-04-09 16:39] Marsup commented on #196
The Firefox extension works fine. Probably Chrome's too.

[2015-04-09 16:41] NerosTie commented on #196
@pikzen nothing we can do?

@Marsup I prefer the bookmark for some reasons, but good to know!

[2015-04-09 17:11] pikzen commented on #196
Nothing that I know of. Submitting a PR to Firefox maybe :D

I'll look around but AFAIK CSP is pretty broken

[2015-04-09 20:31] nodiscc commented on #194
I think it's ok to close this. Please open new issues for related topics.

[2015-04-09 20:31] #194 closed

[2015-04-09 20:36] nodiscc commented on #196
There is no way around CSP, except disabling it ( `security.csp.enable`), which is a bad idea for security reasons.

You can read more about this problem at https://github.com/sebsauvage/Shaarli/issues/94. This is a browser bug: read https://bugzilla.mozilla.org/show_bug.cgi?id=866522 (by the CSP spec, bookmarklets _shouldn't_ be affected, but they are).

I'll leave this bug open for some time, in

[2015-04-10 17:25] nodiscc opened #198 "Setup a public demo instance"
We could host a public Shaarli instance on https://aws.amazon.com/free/ for demo purposes. It would always be synced on master and would reset (cron job) every hour or so. What do you think?

[2015-04-10 19:23] alexisju commented on #198
Why not :)  (but not on amazon!)

[2015-04-10 20:12] pikzen commented on #198
Why ? Legal and personal reasons aside (i.e. Amazon is in US), an EC2 instance offers great availability and SSH access. a t2.micro instance is more than enough to host Shaarli. Unless you know of hosts that offer SSH access AND a free tier, Amazon is the safest bet there is.

A nice side effect of that is that exposing a Shaarli instance to the world is one of the best way to detect bugs and pote

[2015-04-10 22:37] Marsup commented on #198
For automated post-CI deployment I use heroku (which is hosted on AWS), no complains so far, great API. Why would you **need** SSH access anyway ?

[2015-04-11 01:27] nodiscc commented on #198
we just need a free, up to date web server with PHP. I'm ok with suggestions other than amazon.

[2015-04-11 12:07] alexisju commented on #198
When it's possible, in particulary for FLOSS project, i think is good to use hosting who promote also  freedom and respect users and datas about privacy etc...

http://www.tuxfamily.org/
http://www.toile-libre.org/
http://www.domainepublic.net/
http://www.web4all.fr (usualy not free but sometimes support for free some project)

[2015-04-14 12:17] #178 closed

[2015-04-14 12:17] #188 closed

[2015-04-14 12:19] nodiscc opened #199 "Hiding public links does not affect the RSS/ATOM feed"
The `HIDE_PUBLIC_LINKS` option was introduced in https://github.com/shaarli/Shaarli/pull/197. However, the RSS feed does not respect that setting and shows public items regardless of the value of `HIDE_PUBLIC_LINKS`.

[2015-04-14 12:21] nodiscc commented on #193
Should be fixed by https://github.com/shaarli/Shaarli/pull/195

[2015-04-14 12:21] #193 closed

[2015-04-14 12:22] nodiscc commented on #196
Closing. This is a browser bug.

[2015-04-14 12:26] nodiscc commented on #198
@alexisju I'm very ok with avoiding amazon, and using a freedom respecting service. toile-libre.org has been around for a long time and provides quality services, do you have some time to set up an account there? We just need a web server, and a cron job to delete and re-clone the repo at a decent interval.

[2015-04-14 12:29] nodiscc commented on #187
I've added autofocus to my `autofocus` branch. https://github.com/nodiscc/Shaarli/commit/82d7a405b00b1b30f40f2cc7018362419ae8dda6. It works, except when you want to reach an URL like `/?#34czEf`, which should scroll the link list view to a particular link (anchor), but instead places the view on the search field.

[2015-04-14 15:13] nodiscc commented on #186
Would a `Bump to top` button be enough? (in the edit dialog or in the linklist). Everytime you press this button, the link date is set to the current date (therefore it bumps to the top of the linklist). Maybe this breaks permalinks.

Or store a list of sticky posts in a config variable `STICKY_POSTS = array('CfcZe5', 'Oxr_A7', 'drd8cb');`. Everytime the linklist is rendered, display these posts f

[2015-04-14 21:07] alexisju commented on #198
@nodiscc toile-libre is not free but "à prix libre". They don't mention cron in their services. Maybe are you talking about tuxfamily ? I'm ok to set it up.

[2015-04-15 14:14] nodiscc commented on #198
Both are fine, but yes, I didn't check the pricing. I think we should go with tuxfamily, can you contact them? (just remember we need something like cron jobs to reset the demo). merci!

[2015-04-16 10:01] alexisju commented on #198
Its working here : http://shaarlidemo.tuxfamily.org/
or directly http://shaarlidemo.tuxfamily.org/Shaarli/
user/password = demo

[2015-04-16 10:25] alexisju opened #200 "Update default links"
When a user install the community version of Shaarli, default/demo links could also directly mention the community wiki / repository...

[2015-04-16 21:05] alexisju commented on #200
It is not about documentation but into index.php directly (look for *Create a dummy database for example*) https://github.com/shaarli/Shaarli/blob/master/index.php#L780

[2015-04-17 15:37] nodiscc commented on #200
Yes, I was thinking about also adding basic usage explanations/examples in the default links. (Basic tags, private links, RSS, Picture wall, search and filtering)

[2015-04-17 15:56] alexisju opened #202 "Counts still displayed even if hiding public links is set up"
When all public links are hidden, header counts still displaying the total numbers of links. In same time, visitors get the message 'nothing found'

cfr https://github.com/shaarli/Shaarli/commit/caee7ff9ccc302f85bd08714636e0be08fbd7cc4

[2015-04-17 16:02] nodiscc commented on #175
Fixed in https://github.com/shaarli/Shaarli/issues/190

[2015-04-17 16:02] #175 closed

[2015-04-17 16:09] alexisju commented on #202
Related: I dont know if it is easy, but maybe it could be nice for visitor to know when a shaarli is not public (what is different of a new shaarli without any link).

[2015-04-17 16:45] alexisju commented on #200
URL : https://github.com/shaarli/Shaarli/wiki
Title :  Shaarli, the personal, minimalist, super-fast, no-database delicious clone
Description :
Welcome to Shaarli ! This is a bookmark. To edit or delete me, you must first login.

To know more about how to use Shaarli, check the link "Help/documentation" on the bottom of this page.

You use the community fork of the original Shaarli project by sebs

[2015-04-17 16:57] alexisju commented on #186
Bump to top : no. It risk to be  diffcult to have a good setting (how do you choose until when sticky post need to be retrieved, or how many time they will be sticked at the top, etc...)

If it is implemented, it needs to work as private links are managed/displayed when logged in : logged user can identify private links into the full linklist and get only private links clicking on ?privateonly.

W

[2015-04-18 11:41] nodiscc commented on #200
I agree with everything

Yes we could do this... it will be a breaking change (repo name change will break update URLs...) so I suggest we wait for the next batch of large changes (plugin system), but definitely before 1.0 if we go this way. Please open a separate issue.

[2015-04-18 12:06] alexisju opened #203 "About the "branding" of this fork opposite legacy Shaarli"
About the "branding" of this fork, maybe it is time to be more clear to make the difference between this fork and the "legacy" version of Sebsauvage? We could try to find another name something about "Community Shaarli" Or Shaarli2 (shaarli too/two)? ... or not if Sebsauvage migrate or merge his github project to this fork (who know?).

Before to make this kind of change we could yet be more clear

[2015-04-18 12:08] alexisju commented on #198
Feel free to mention the demo into the readme. Maybe using the same structure i've done on http://shaarlidemo.tuxfamily.org/

[2015-04-20 12:36] #198 closed

[2015-04-22 16:10] alexisju commented on #187
I've removed autofocus (html5) from albinomouse because it is not compliant for smartphones (autofocus opens the keyboard automatically, what is a bit boring on small screens).

On desktop, page up/down keys are not usable before unfocus search fields.

Finally, i prefer using tab key (or use my mouse) when i want to focus make a search ;)

[2015-04-22 16:55] nodiscc commented on #187
Very good points. Maybe we should use `tabindex=1` instead (just hit Tab once?)

[2015-04-22 18:36] qwertygc commented on #203
:+1:

[2015-04-23 02:22] rubykat commented on #203
Agreed, this is a good idea. It's too confusing otherwise. I think it's more feasible to rename this Shaarli to something else than it is to ask Sebsauvage to take action - not because he wouldn't want to, but because he's too busy (which is the reason this fork happened in the first place).

An irreverent part of me wants a new logo which is a combination of the old logo and a picture of a fork.

[2015-04-23 03:39] rubykat commented on #173
That's probably because the variable in question is called $_SESSION['LINKS_PER_PAGE'] - try that and see what happens.

[2015-04-23 17:31] nodiscc commented on #203
The current changes from upstream are still very minor and it's fully mergeable. The upgrade path still works. I'm ok to change the project name/style/branding (this was proposed from the beginning), but I'd rather wait until we have more substantial changes. It should be done before 1.0 though. Sorry for the lack of updates, not much time these days.

[2015-04-24 04:02] mrjovanovic commented on #173
Hey, thanks so much in pointing me in the right direction. So, correct
me if I'm wrong, if I want to do something like:

    <div class="paging_linksperpage">
        Links per page {$links_per_page}
    </div>

in `linklist.paging.html`, then I also need something like:

    $PAGE->assign('links_per_page',$_SESSION['LINKS_PER_PAGE']);

in `index.php`. Except that doesn't work! if you could maybe

[2015-04-26 19:22] nodiscc commented on #121
This fork https://github.com/broncowdd/Shinterest has multi language support

[2015-04-27 08:16] ParoTheParrot commented on #203
+1

[2015-04-27 10:42] qwertygc opened #204 "Shaarli "farm"/multiple user accounts management tool"
Hello !
DMeloni et moi même avaient fait des fermes à shaarli en modifiant quelques lignes de code. Vu que c'est rébarbatif de refaire à chaque maj, c'est possible de faire une option pour permettre de faire un multishaarli ?
Cordialement,
Les modifications :
https://github.com/qwertygc/Shaarli/commit/4a30e26433134d757a5ec81d338e829a3256dcc9
https://github.com/qwertygc/Shaarli/commit/416ad20c886c1

[2015-04-27 11:09] nodiscc commented on #204
Duplicate of https://github.com/shaarli/Shaarli/issues/15 ?

[2015-04-27 11:57] qwertygc commented on #204
1) Maintabilité du code
2) cette solution est plus légère.

[2015-04-27 17:15] nodiscc commented on #204
Shaarli is single-directory (1 directory=1 shaarli instance=1user), so user account management can easily be left to an other tool.

This also brings less problems than letting users write an arbitrary arbitrary string in  `$GLOBALS['config']['DATADIR']` (https://github.com/qwertygc/Shaarli/commit/b297fdf96301bcaa97efc3ac980fc84e1a4cefd5#diff-828e0013b8f3bc1bb22b4f57172b019dR25) and doing mkdirs a

[2015-04-27 17:38] nodiscc opened #205 "Highlight search results"
When doing a full text search, return the results with matching text highlighted.

Implemented in the https://github.com/broncowdd/Shinterest fork

[2015-04-27 17:40] nodiscc opened #206 "Markdown parsing of descriptions"
Add an option to render link descriptions from markdown to HTML.
Should be a plugin, blocked by https://github.com/shaarli/shaarli/issues/14, https://github.com/shaarli/Shaarli/pull/164

[2015-04-27 17:41] nodiscc opened #207 "Add rename/delete buttons on tags in tag cloud"
Allows to edit or delete tags directly from the tag cloud.
Implemented in this fork https://github.com/broncowdd/Shinterest

[2015-04-27 17:46] nodiscc opened #208 "Add quick notes/articles filtering button"
Add a button in the paging area (next to the private link filtering button) allowing to _only show_ notes/articles (items whose URI is a shortlink).

[2015-04-27 20:05] alexisju commented on #205
Great idea!

[2015-04-27 20:15] alexisju commented on #206
I have tested the implementation of parsedown from "shinterest" https://github.com/broncowdd/Shinterest. It's basically working but still buggy (ie link parsing [text](http://link) doesn't work).

--
I have also tried the zepto.js method. It is supposed working but not easy to use for the user:
http://user23.net/bin/?3fba27786063f200#JdFe9TdWx+2TVMFiFLtTqYAQfpgoXeZzIbn8W75blC4=

--

I've also trie

[2015-05-01 10:26] alexisju commented on #206
Maybe is it possible to to adapt Timo's code from BlogoText ?

https://github.com/timovn/blogotext/blob/master/inc/conv.php

[2015-05-01 18:52] nodiscc commented on #49
@ArthurHoaro do you want to take a look at this? Since you are familiar with awesomplete..

[2015-05-04 09:56] alexisju commented on #207
In daily use i dont think it is the best think to do.
But in a "edit mode" it could be usefull to manage tags.

[2015-05-04 10:07] alexisju commented on #208
The current defaut theme is not very well designed (the order is a bit strange and not very intuitive).

Look : Home  - Logout - Tools - Add link - RSS Feed - Tag cloud - Picture wall - Daily

I'm note sure adding such option will make Shaarli better.

However, a generic way to let the user able to modify the menu bar could meet this need and more.
(this requires perhaps to distinguish between vis

[2015-05-04 16:22] nodiscc commented on #208
The note filtering button would appear in the paging bar (not toolbar), next to the private link filtering icon (as it also filters posts by type, not by tag)

![filtered](https://cloud.githubusercontent.com/assets/3950390/7457048/d7db6bce-f289-11e4-8200-5f0d229bd3ef.png)  ![unfiltered](https://cloud.githubusercontent.com/assets/3950390/7457052/dfcd0f4a-f289-11e4-93a8-8d9f5f62410d.png)

This is al

[2015-05-04 16:23] nodiscc commented on #207
Yes it should be toggle-able with a switch `Edit mode ON [OFF]` to prevent clutter and misclicks in the tag cloud.

[2015-05-05 08:20] alexisju commented on #207
in this case, it's nice :)

[2015-05-05 08:27] alexisju commented on #208
Well, it is true that it can be usefull

[2015-05-06 06:12] Draky50110 opened #209 "[doc] recommend a proper Free Software HTTP referer cleaner"
Salut

J'aime bien le principe de anonym.to mais j'aime moins le fait qu'il doit à mon avis garder une trace des sources...
Du coup, j'ai cherché une solution "auto-hébergée", histoire de rester VRAIMENT anonyme.

J'ai trouvé ça : https://stackoverflow.com/questions/6428762/hide-referrer-on-click
Sauf que ça ne marche pas, notamment en testant avec ça : http://www.whatismyreferer.com/

Du coup je

[2015-05-06 12:55] alexisju commented on #206
Implemented into this fork : https://github.com/Knah-Tsaeb/Shaarli/commit/6f4fd910a9fd7786a7b135b0dc5b2a77d0b1028f

[2015-05-06 22:06] nodiscc commented on #209
Hi, thanks for your suggestion.

In my very humble opinion users should take care of masking their referrers using addons such as [Smart Referer](https://addons.mozilla.org/en-us/firefox/addon/smart-referer/) or their browser's preferences anyway (In firefox `network.http.sendRefererHeader=2; network.http.referer.spoofSource=2`). Keep in mind that if your Shaarli is accessed over HTTPS, browsers w

[2015-05-07 13:35] alexisju commented on #206
@nodiscc you tagged this issue as plugin : is it possible to load external includes (ie: parsedown.php) into template? (when i tried i got errors from RainTPL)

[2015-05-08 15:04] nodiscc commented on #209
Or, we could just recommend a separate, self-hostable referer stripping program that is compatible with Shaarli. Just install it and point the anonymizer URL to it.

[2015-05-08 15:12] Draky50110 commented on #209
It is what I've done : have installer NoReferPLZ on my webhost and use it in my Shaarli's install...

[2015-05-08 17:24] nodiscc commented on #209
If someone wants to cleanup the noreferplz code, and keep maintaining it (or write a new one from scratch, see 2 links above), we could recommend it in the doc and on the settings page.

[2015-05-08 22:02] nodiscc opened #211 "Display date in page title for "Daily Shaarli""
The page title for Daily Shaarli pages should include the date of the saily being displayed. For example `https://my.domain/shaarli/?do=daily&day=20150504` would have `Awesome links - Monday 04, May 2015` as tab title, where `Awesome links` is `$GLOBALS['title']`

Currently the tab/page title is only  `$GLOBALS['title']`

The RSS item already has this title.

Using this title is relevant when you

[2015-05-11 00:51] nodiscc commented on #101
Reopening to make issue visible in issues list (cleaning up the Ideas for plugins wiki page)

[2015-05-11 00:52] nodiscc commented on #58
Reopening to make issue visible in issues list (cleaning up the Ideas for plugins wiki page)

[2015-05-11 09:00] Marsup commented on #101
@nodiscc I just did it, it was quite simple honestly, about 20 lines of code, I'm not sure it's worth a plugin. Should I proceed with a PR ?

[2015-05-11 14:47] nodiscc commented on #101
Please yes. If it doesn't add much complexity and works as expected, it can be merged.

[2015-05-11 15:02] nodiscc opened #212 ""Hide all public links" is broken/does not work as expected"
In addition to https://github.com/shaarli/Shaarli/issues/202 and https://github.com/shaarli/Shaarli/issues/199; hiding public links does not work when:

 * you access the tag cloud
 * you access the picture wall
 * you access a search URL (`?searchterm=test` or `?searchtags=test`)

In these cases, public links are still displayed. The switch on the settings page lets the user think that all links

[2015-05-11 15:54] Marsup commented on #101
How do I run the tests if any ? Just making sure I didn't break anything.

[2015-05-11 16:04] nodiscc commented on #101
You can send your pull request and it will be manually reviewed and tested for some time before the merge.

We don't have a clear test procedure currently, we just make sure all Shaarli features are working correctly (yes a list would be nice) and wait for https://github.com/shaarli/Shaarli/issues/71 and https://github.com/shaarli/Shaarli/issues/130

[2015-05-11 17:40] nodiscc commented on #206
Ideally it should be, but the plugin system is unfinished work. A markdown plugin would look like
[code]

where all rendering of the description area in the linklist is left to the markdown plugin.

https://github.com/piero-la-lune/Bumpy-Booby uses PHP-Markdown and it works wonderfully. <sup>by the way this is a very good bug/issue tracker and you should try it if you need a personal, self-hosted

[2015-05-11 18:02] pikzen commented on #212
It's not a bug, it's a feature :trollface:

Fixed in #214

[2015-05-12 01:23] webdev23 commented on #206
Hi everyone. I am the author of the "zepto.js" that alexisju linked up:
Retrouver (la syntaxe perdue de) Shaarli:
http://user23.net/links/?08KERw
http://user23.net/bin/?3fba27786063f200#JdFe9TdWx+2TVMFiFLtTqYAQfpgoXeZzIbn8W75blC4=

I just tested this on a fresh install and it work fluently. Here is a more accurate description. We can also use jquery, already included (but 3 times bigger):
So by ad

[2015-05-12 20:20] nodiscc commented on #206
Hi @webdev23 the plugin system is currently unfinished and you'd have to extend it before being able to parse descriptions with it. See the [commit messages in the `new-plugin-sytem` branch](https://github.com/nodiscc/Shaarli/commits/new-plugin-system) to get an idea of how it works/is extensible. Someone may be able to help us (I won't have time to finish it soon), but you should really put up a

[2015-05-15 15:30] jeekajoo opened #217 "Provide an optional (opt-out) link to shaarli.fr in the menu bar"
Hey,

shaarli.fr is a nice tool, it became very popular, you can now choose who you want to follow (Thanks @DMeloni)

I think that people that have no clue about what shaarli is/became should know we can use it like twitter and discover new stuff with new people.

I suggest it to be opt-out (and not opt-in, but it's up to you then), because well.. we need to spread the world and decentralize the I

[2015-05-15 16:00] DMeloni commented on #217
[French]

Salut !

Juste pour donner mon avis sur les pour et les contre :
Les pour:
- plus de visites sur le site shaarli.fr ? les utilisateurs de l'outil en ont vite connaissance
- plus de sensibilité à la décentralisation ? honnêtement je ne sais pas car si le lien est vraiment dans l'outil, l'utilisateur l'aura quand même installé quelque part (donc il fera surement déjà du décentralisé)

Les

[2015-05-15 16:08] jeekajoo commented on #217
yes, that might not be a good idea
especially if we aim to make this tool (shaarli) more popular outside france.
and shaarli.fr is very french focused.

but your idea with a custom additional link is interesting.

[2015-05-15 16:12] jeekajoo commented on #217
Let's close this.

[2015-05-15 16:12] #217 closed

[2015-05-15 16:14] nodiscc commented on #217
@jeekajoo Yep I don't think linking to a particular instance of a particular tool would help. However, feel free to edit the wiki and link to the shaarli.fr **self-hostable tool source code**, and give shaarli.fr as an example. (Related projects section)

Yes and this is something I started drafting as a plugin. Sorry for the lack of updates. I think you could report this a separate request.

[2015-05-15 16:23] nodiscc commented on #173
I've had some time to think about this.

 * Better with the old version: 1-click instead of 2.
 * Could be better with the new version: display the _current_ setting.

@mrjovanovic do you have a patch ready so we can test this? Or we might postpone this to later. I feel like the default template needs a proper rewrite from scratch...

[2015-05-15 16:31] mrjovanovic commented on #173
Thanks for bumping this.

* The new version is also 1-click, it's on hover. The main points were to reduce clutter - in the old version, the option's function isn't self-evident *and* it takes up a lot of space. Likewise, the thumb-friendly buttons for mobile help.
* I would love to display the current setting, but I [haven't found how](https://github.com/shaarli/Shaarli/issues/173#issuecomment-95

[2015-05-15 16:53] DMeloni commented on #217
I will write some codes for english support :)

[2015-05-22 19:11] #101 closed

[2015-05-22 19:34] #212 closed

[2015-05-22 19:34] #199 closed

[2015-06-03 14:10] #136 closed

[2015-06-05 14:15] seigler opened #220 "Firefox tag entry fails"
In Firefox the tags field is not populated or saved when editing a bookmark.

[2015-06-05 19:04] nodiscc commented on #220
Hi, I can't reproduce this. Please provide any relevant message you can find in Firefox's error console or in your webserver logs.

You can also try [resetting Firefox](https://support.mozilla.org/en-US/kb/reset-preferences-fix-problems), disabling your addons, or [create a blank Firefox profile](https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles) and test agai

[2015-06-05 19:17] seigler commented on #220
In Firefox's console I see "15:14:02.152 NS_ERROR_FAILURE: 1 awesomplete.min.js:2:0" which seems to be a cross-domain request failure.

[2015-06-05 20:50] nodiscc commented on #220
Plesae try from a blank Firefox profile.

[2015-06-05 20:57] seigler commented on #220
Same issue from a blank Firefox profile. One difference might be that I am hosting Shaarli under https instead of http.

[2015-06-05 21:15] seigler commented on #220
Figured it out. One of my imported tags was "Mark Twain" which ended up parsed as ("Mark) and (Twain"). Chrome was able to handle the unescaped quotes somehow and fix the DOM, but in Firefox it was just an invalid input field.

[2015-06-05 21:15] #220 closed

[2015-06-09 12:29] ArthurHoaro commented on #49
It's done. :)

[2015-06-10 18:18] ArthurHoaro opened #224 "Character escaping and potential XSS"
As I said on Gitter, there is a problem with tags escaping. Since we use awesomplete, all tags are now present in HTML structure and they're not escaped when there is a field which can be autocompleted (my bad!).

It only concerns logged in users, so it's not a critical security issue but it has to be fixed. Also any `"` breaks autocompletion.

I took a look, and character escaping seems to be a b

[2015-06-10 18:23] ArthurHoaro commented on #224
About the XSS on tags, create a link with this tag:

    "><script>alert("test");</script><

and edit it.

[2015-06-10 20:58] nodiscc commented on #224
Well spotted. My 2 cents: everything that contains user input should be escaped with `htmlspecialchars` during rendering.

I don't think this is needed. Or is it? The datastore is in a php comment block anyway so we should be reasonably safe against arbitrary code execution

Thanks a lot for reporting this @ArthurHoaro and @seigler for pointing it out..

[2015-06-10 21:03] nicolasdanelon commented on #224
I use this functions for clean inputs... maybe it can help
https://gist.github.com/nicolasdanelon/26bca38391e43a771243

[2015-06-10 23:26] purexo opened #225 "External pingback server integration"
It'll be very cool to have a pingback system beetween Shaarli. Like Wordpress.
I'm think that the best way to interact beetween shaarlieur.

[2015-06-11 13:59] nicolasdanelon commented on #225
maybe with a plugin, right?

[2015-06-11 15:26] nodiscc commented on #225
@purexo please explain more precisely:

 * what exactly does it do?
 * how does one use it (step by step)
 * what purpose this serves

This was previously requested at https://github.com/sebsauvage/Shaarli/issues/75

[2015-06-11 15:58] purexo commented on #225
Je vais parler français, histoire que ce sois plus simple pour moi d'expliquer.

Je pense que pas mal de personnes utilisant Shaarli, utilisent aussi un blog à coté, et pour la plus part utilisent WordPress comme CMS de blog.
Wordpress intègre nativement/par défaut un systeme de Pingback.

Le principe est "simple"

1. Une personne A écris une note contenant le permalink d'une note Shaarli d'une pe

[2015-06-11 16:16] fbartels commented on #225
As long as its optional and opt-in. why not?

But I don't use shaarli as a blog system and therefore would have not use for it.

[2015-06-13 21:13] nodiscc opened #226 "Add media enclosures to RSS feeds"
https://en.wikipedia.org/wiki/RSS_enclosure

The link's thumbnail (if it exists) could be used as enclosure

[2015-06-14 01:05] nodiscc commented on #225
Thanks for the explanation;

Pingback requires an XML-RPC server to work. For reference, wordpress' XMLRPC server is 6300 LOC, which is almost 3 times shaarli's size - https://github.com/WordPress/WordPress/blob/master/wp-includes/class-wp-xmlrpc-server.php

The pingback spec can be found at http://www.hixie.ch/specs/pingback/pingback - There is a reference pingback server/proxy at http://software

[2015-06-14 01:15] nodiscc commented on #225
Also note that support for integrating an external comments system has been requested at https://github.com/shaarli/Shaarli/issues/181. The issue is abotu adding support for Isso (http://posativ.org/isso/) comment fields in the linklist. Isso's developer has open an issue about adding Pigback/trackback support to his software - check https://github.com/posativ/isso/issues/19 - so this is another p

[2015-06-19 11:24] ArthurHoaro opened #227 "Documentation internal links"
There is a problem with a few links in generated documentation:

  * internal links between pages lead to 404 because it doesn't contains `.html` extension (eg: "Ideas for Plugins" at the beginning).
  * `Download CSS styles for shaarlis listed in an opml file` link leads to Github's wiki.

[2015-06-19 11:52] ArthurHoaro commented on #41
It can be done easily by iterating over `$GLOBALS['config']`. However, I'd prefer to keep `config.php` instead of using `options.php`.

[2015-06-19 12:02] ArthurHoaro commented on #14
Why? Also, #163 if 1.0 milestone. We can work on it later.

[2015-06-19 14:57] nodiscc commented on #186
Bump link to top was proposed in the original FIXME https://github.com/shaarli/Shaarli/issues/106 and could be opened as a separate issue: _Allow date editing of a link (Warning: this would break its permalink)._

Can we start by adding a `starred:` key to links in the datastore. Then check if a link is starred during template rendering with

    $has_starred = isset($row["starred"]) && $row["star

[2015-06-19 20:21] nodiscc commented on #200
We should have more than 1 public link visble by default, else the page title gets changed to the only default link's title (see http://shaarlidemo.tuxfamily.org/Shaarli/) which is weird.

[2015-06-23 12:59] #202 closed

[2015-06-23 13:26] #154 closed

[2015-06-23 13:34] nodiscc commented on #187
Fixed in https://github.com/shaarli/Shaarli/commit/0923a2bc1b097bf1def882722db489d83d95c423

[2015-06-23 13:34] #187 closed

[2015-06-23 18:17] ArthurHoaro opened #232 "Single public link change linklist page title"
If there is only one single public link shared (eg: fresh installation), the title is changed like it's displaying the permalink.

It shouldn't, and only displays Shaarli's instance title.

[2015-06-23 18:24] ArthurHoaro commented on #200
Having more than 1 public link isn't really useful.

I've submitted PR #233  to fix the issue you're talking about (reported in #232).

[2015-06-23 18:45] ArthurHoaro opened #234 "Add unit testing to CONTRIBUTING.md"
CONTRIBUTING.md should contain a bit of documentation about how to run (and validate) unit tests.

[2015-06-23 18:46] #232 closed

[2015-06-23 18:51] #234 closed

[2015-06-23 18:57] ArthurHoaro commented on #234
Thanks. They're already failing. :(

[2015-06-23 18:57] nodiscc opened #235 "Tag entry field is too small"
![shaarli](https://cloud.githubusercontent.com/assets/3950390/8314539/5bc5adbe-19ea-11e5-9850-6ec63b4baf8e.png)

This happens since https://github.com/shaarli/Shaarli/commit/4c68c20cdd2baec36c03aa6237d2d932605b6252

[2015-06-23 19:00] nodiscc opened #236 "tests failing: Undefined index: HIDE_PUBLIC_LINKS"
[code]

[2015-06-23 19:02] nodiscc commented on #234
You are right :/ This is what I get https://github.com/shaarli/Shaarli/issues/236

[2015-06-23 19:03] ArthurHoaro commented on #236
I'm working on it.

It's related to a037ac6963f111d0c9d5e4faa55f805edd93d91b

[2015-06-23 20:29] nodiscc commented on #49
Fixed in https://github.com/shaarli/Shaarli/commit/65d62517443b67fc4a180c43b50fe62f11b9e3b6, thanks.

[2015-06-23 20:29] #49 closed

[2015-06-23 21:08] virtualtam opened #239 "Enable Travis CI"
Hello!

Now that there's a Travis config file for Shaarli (see #219), could a project maintainer enable the service?
This way, tests results will be available for all branches and pull-requests :)

[2015-06-23 22:31] #236 closed

[2015-06-24 03:12] nicolasdanelon commented on #235
Yes, my fault. Sorry for small pulls with poor testing. I'm with this now. But we need to move the CSS to [OOCSS](https://www.google.com.ar/search?q=object+oriented+css) Just because this can not happen again. I'll work on OOCSS ASAP too.
OOCSS = one "class" for structure, one "class" for styling.

[2015-06-24 10:23] fbartels opened #241 "Current master seems broken to me."
Hi,

I just pulled in the recent changes and then noticed that Shaarli stoppen working for me. I did not yet have the time to pinpoint the exact commit that broke it for me, but reverting back to 25c46408a3d5101801574703775cdfd2a0df8d4f (e.g. git reset --hard 25c46408a3d5101801574703775cdfd2a0df8d4f) fixed it for the moment.

This is the error I have in my Apache error.log:
```mod_fcgid: stderr: P

[2015-06-24 10:59] ArthurHoaro commented on #235
I didn't know OOCSS, that's an interesting concept. However, it's probably a lot of work with this 1K lines CSS file.

[2015-06-24 12:55] nicolasdanelon commented on #235
No no, is not about that, it's about avoid a big CSS file!
but we need to rewrite some html structures.. and the whole CSS.
OOCSS was born in 2008 when people write big stylesheets and was hard to edit and add new styles. If we turn shaarli CSS code into this technique we won't have this issues again

[2015-06-24 13:46] ArthurHoaro commented on #106
Ok, I'll try to contribute on this. Handle 50+ ideas in a single issue isn't possible, so I've created a pad with my opinion on all of this.

I think our first objective is to create an issue for every item we want to discuss further.

https://lite6.framapad.org/p/3I7CN1Drms

It would be nice if you could review it.

[2015-06-24 23:32] nodiscc commented on #235
As discussed with @mrjovanovic in https://github.com/shaarli/Shaarli/issues/174, proposing a new default template would be welcome, I think. A simple responsive grid system (https://thisisdallas.github.io/Simple-Grid/ or other) could be used, along with best webdev practices.

We should still fix the current stylesheet for now.

[2015-06-25 00:50] nodiscc commented on #106
Thank you, this is much better. I've added some points, will check back later.

[2015-06-25 00:52] nodiscc commented on #174
Closing as this hasn't been touched for a long time. Writing a new template from scratch and proposing it as default is ok, as discussed in other issues. Feel free to open a repo for this and a new issue.

[2015-06-25 00:52] #174 closed

[2015-06-25 07:58] ArthurHoaro commented on #106
I answered some of your points.

I will switch a few "UNDECIDED" to "Reporting" by opening related issues.

[2015-06-25 08:08] ArthurHoaro opened #244 "Show new links since last visit"
When a logged out user re-visits the website, all new links since his last visit are highlighted.

I would recommend usage of HTML5 local storage (to store the latest link seen or its timestamp) and use JS to highlight new links.

I like the highlighting used in the [river](http://river.hoa.ro), we could do something like that: discreet and disappears when hovered.

[2015-06-25 08:23] ArthurHoaro opened #245 "Images and video embedding"
Show a collapsed space the user can open to see the links video or image.

[From](https://lite6.framapad.org/p/3I7CN1Drms) @nodiscc

Play'em is interesting and doesn't rely on too much dependancy.

[2015-06-25 08:42] ArthurHoaro opened #246 "Filter links by date"
This has been discussed in #106 by @nodiscc @virtualtam and @mrjovanovic.

This is my understanding:

  1. First step, add a simple search filter with two $_GET parameters (links between 2 dates).
  2. Add a datepicker as a plugin to handle these parameters. UI idea:

![img](https://cloud.githubusercontent.com/assets/4664783/6588359/940eca72-c75e-11e4-843a-99f03cc937da.png)

[2015-06-25 08:56] ArthurHoaro opened #247 "Statistics : number private links, database and cache size"
Discussed in #106:

  * Add counters for number of public and private links to the tools page.
  * Add counters for datastore and cache directories to the tools page.

Maybe highlight cache size if it's anormaly big.

[2015-06-25 09:08] ArthurHoaro opened #248 "1-click Shaarli upgrade"
Shaarli should be able to self-upgrade with stable release.

A few warning / idea :

  * It needs to be done carefully to prevent Shaarli's instance corruption and data loss.
  * Automatic temporary backup.
  * Implement a rollback procedure.
  * Be careful with memory consumption.

[2015-06-25 13:11] nodiscc commented on #246
I agree except for the `Type date range here`  field placement. The search bar should only have text/tags fields, for simplicity (search by date is kind of an advanced search feature). Agreed with everything else.

[2015-06-25 13:21] nodiscc commented on #247
My vote goes to only separate number of public/private links counters. db and cache size can be checked with a simple file manager/sftp/ftp client, and they should not be that large

For me:

[code]

Other numbers are welcome.

Related to https://github.com/shaarli/Shaarli/issues/185

[2015-06-25 16:16] nodiscc commented on #224
This seems to be fixed at first glance. If you find a way to reproduce the XSS again, please add your comment/steps to reproduce.

[2015-06-25 16:21] nodiscc commented on #241
I can't reproduce this (apache 2.4 with mod_php).

[Line 306](https://github.com/shaarli/Shaarli/blob/master/application/LinkDB.php#L306) `$keys = ['title', 'description', 'url', 'tags'];` looks ok to me, no missing closing brackets/quotes before it.

@fbartels can you re-clone an test again? Make sure your local copy is an exact clone of the repo. I would try with mod_fcgid but unfortunately I do

[2015-06-25 16:21] nodiscc commented on #239
Done https://travis-ci.org/shaarli/Shaarli

[2015-06-25 16:21] #239 closed

[2015-06-25 16:37] nodiscc commented on #196
Reopening because this should be documented on the wiki. Feel free to edit the doc.

[2015-06-26 05:26] fbartels commented on #241
Hi @nodiscc ,

I just did a fresh checkout and walked through the commit history of the last days (Oldest first starting with 4de71445d3d174b5ef3462a1c4470a95cc00017e).

Starting with 38a0c256d200df872990f6ed450aceaf215eeafd I only get a white page and the already posted error.

[code]

[2015-06-26 14:59] fbartels commented on #241
Ah, found this issue and created a pull request #249 .

[2015-06-26 15:06] nicolasdanelon commented on #246
can it be added as a plugin?

[2015-06-26 17:36] ArthurHoaro opened #250 "Tests compatibily with PHP 5.3"
I mentionned in #218 that tests are not compatible with PHP 5.3. I thought it didn't matter because we run test in dev environment. However, if we wan't to keep 5.3 compatibility for Shaarli, and avoid issue like #241, it would be better if we could test it in PHP 5.3.

We could also drop PHP 5.3 compatibility since it's an old and [apparently not maintained](https://github.com/sebsauvage/rss-brid

[2015-06-26 19:45] nodiscc commented on #250
Yes. PHP 5.3 also has a lot of unfixed security vulnerabilities: www.cvedetails.com/version-list/74/128/3/PHP-PHP.html?order=1&trc=265. I'll probably merge https://github.com/shaarli/Shaarli/pull/249 as this is a simple fix, but PHP 5.3 should not be a requirement.

Debian has PHP 5.6 in stable and 5.4 in oldstable (https://packages.debian.org/search?keywords=php5)! Should we bump the requirements

[2015-06-26 19:46] nodiscc commented on #246
There is no plugin system.

[2015-06-26 19:47] nodiscc commented on #246
By the way, work on this can already be started, even if no UI implementation has been decided. Date filtering should work with URL parameters in the first time.

[2015-06-26 20:29] nodiscc commented on #241
Thanks for the patch, see #249, #250

[2015-06-26 20:29] #241 closed

[2015-06-26 20:29] #200 closed

[2015-06-26 21:22] nicolasdanelon commented on #246
Yes I know that there is no plugin system. I don't see this usefull, because of that I would like this in a plugin :)

[2015-06-27 12:16] virtualtam commented on #250
+1 for having 5.4 as a minimum requirement

[2015-06-27 14:13] nodiscc commented on #235
Not fixed http://shaarlidemo.tuxfamily.org/Shaarli/?post=

[2015-06-27 14:15] virtualtam opened #252 "LinkDB test inconsistencies (filesize)"
When having PRs tested by Travis, there are seemingly random failures on the following tests:
* testCheckDBNew
* testCheckDBLoad

As an example, builds [15](https://travis-ci.org/shaarli/Shaarli/builds/68601602) (failure) and [16](https://travis-ci.org/shaarli/Shaarli/builds/68602640) (success) were tested against the same commit content (just amended to trigger a new build).

Moreover, my fork's

[2015-06-27 14:43] virtualtam commented on #252
This seems to happen due to the serialization of dynamic dummy link dates (see #238).

Should the tests be more permissive, i.e. check if the datastore's filesize is comprised within a given range, instead of a fixed one?

[2015-06-27 16:33] nodiscc opened #253 "'javascript:' links escaping problem when pasted in a description"
**How to reproduce:**
create a new link and paste this in the description field, then save:

    javascript:location.href='http://www.reddit.com/submit?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title) example bookmarklet

**Expected results:**
The description text should display fully in the linklist.

**Actual results:**
The displayed description is somehow tri

[2015-06-27 19:27] #235 closed

[2015-06-27 19:30] nodiscc commented on #252
What does this test do? Check the filesize to see if the dummy link has been stored? If yes, just checking for a filesize > 0 should do it. Right?

[2015-06-28 12:33] virtualtam commented on #252
Good idea! The following should suffice:
* check a new datastore file is non-empty (filled with dummy links)
* check an existing datastore is left unchanged by `LinkDB::checkDB()`

PR upcoming :)

[2015-06-28 13:53] #252 closed

[2015-06-29 09:14] ArthurHoaro commented on #253
I can't reproduce your issue. But the part that seems to disapear in your test is the one is the one transformed in link here:

![screen](http://i.imgur.com/abHOYlP.png)

[2015-06-29 09:31] ArthurHoaro commented on #224
I think it's OK to close this issue. It can be reopened later if a related issue is found.

[2015-06-29 09:31] #224 closed

[2015-06-29 18:59] nodiscc commented on #253
I will check with a different Firefox profile. I suspect my ad blocker to interfere...

[2015-06-30 07:27] ArthurHoaro commented on #253
I just tried and it's also working...

Can you also check the HTML result?

[2015-07-04 19:47] fturco opened #256 "The page isn't redirecting properly"
I'm running an instance of Shaarli 0.0.45-beta on my local desktop computer. If I click on a tag in the main view I get the following error from Iceweasel/Firefox 38.0.1:

I also tried with a clean, new Iceweasel profile.

If I move the mouse over the "linux" tag I see the "http://127.0.0.1/shaarli/?addtag=linux" link. But if I click on it I'm redirected to the http://127.0.0.1/shaarli/?addtag=lin

[2015-07-04 20:24] ArthurHoaro commented on #256
I can't reproduce this issue on master or latest release. Could you try on latest commit?

However [this part](https://github.com/shaarli/Shaarli/blob/master/index.php#L1090) rely on HTTP_REFERER, which I believe unreliable. So there might be an issue.

If you confirm this issue, i suggest you show us what's giving:

  * `var_dump($_SERVER['HTTP_REFERER']))` after L1091
  * `var_dump($params)` aft

[2015-07-05 10:48] fturco commented on #256
I tried the latest git version, and I can still reproduce the problem.

I don't know PHP programming. I tried anyway adding those instructions in `index.php` and placing a semicolon at the end of each one. But I just see the Iceweasel error message again, and nothing else. Am I supposed to do something differently?

[2015-07-05 15:10] ArthurHoaro commented on #256
Alright, my bad.

Could you retrieve [my branch](https://github.com/ArthurHoaro/shaarli/tree/shaarli-256) with the following:

    git remote add arthur https://github.com/ArthurHoaro/Shaarli.git
    git fetch arthur
    git checkout shaarli-256

Then can you give us the result when you click on this link:

![screenshot](http://i.imgur.com/v14K0ce.png)

[2015-07-05 16:43] fturco commented on #256
string(43) "http://127.0.0.1/shaarli/?addtag=opensource" array(1) { ["addtag"]=> string(10) "opensource" } string(39) "addtag=opensource&searchtags=opensource"

[2015-07-06 08:16] ArthurHoaro commented on #256
Thank you. Your browser is sending the current URL as [HTTP referer](https://en.wikipedia.org/wiki/HTTP_referrer) instead of the previous one, probably for privacy matters, which causes this bug. I'll submit a PR to fix it.

[2015-07-06 09:04] fturco commented on #256
I haven't modified my browser behaviour directly. I think it may be due to the fact that I use HTTPS Everywhere and uBlock extensions, but I'm not sure.

[2015-07-06 09:50] ArthurHoaro commented on #256
I don't really know either... Please checkout `tag-http-referer` and let us know if this fix your issue.

[2015-07-06 10:38] fturco commented on #256
It works now. Thank you!

[2015-07-06 17:07] qwertygc opened #258 "Add OpenGraph metadata"
it's possible to implante h-entry on shaarli ?

[2015-07-06 17:30] nodiscc commented on #258
What does this do?

[2015-07-06 18:13] qwertygc commented on #258
http://microformats.org/wiki/h-card

[2015-07-06 18:28] nodiscc commented on #44
I've added (invited) @virtualtam and @ArthurHoaro as owners of the Shaarli organization on Github.

You guys have provided very high quality contributions to Shaarli and have been active recently, so now that e2jk is away I felt like this project needed more maintainers (I also have less time, and my own server is offline for some time so I can't test new stuff as quickly as before). No obligation

[2015-07-06 18:47] nodiscc commented on #258
I suggest enabling more [Opengraph](http://ogp.me/) metadata on Shaarlis instead. Opengraph is a well known and widely used standard, and as far as I can see, the opengraph metadata properties supersede the h-card [properties](http://microformats.org/wiki/h-card#Properties).

Or does h-card do something that opengraph does not?

There is no commit messages on https://github.com/shaarli/Shaarli/pul

[2015-07-06 20:18] virtualtam commented on #44
Thanks a lot @nodiscc for the invitation!
I'll do my best to keep improving Shaarli, sanitize the code base, discuss issues and help reviewing PRs ;-)

See [this answer on StackOverflow](http://stackoverflow.com/a/10166916), TL;DR:
* signing commits with GPG is not that useful, and may unnecessarily hassle contributors
* using the signoff option can automatically add information about the author's